.msp-order {
  .stockits-box {
    a {
      font-size: 14px;
    }
  }
}

.input-form{
  .banner-btn{
    width:150px;
  }
}

.contect {
  blockquote {
    margin-bottom: 40px;
    padding: 15px;
    border-left: 3px solid;
    background: rgba($purple, 0.2);

    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .qen {
    margin-bottom: 40px;
    padding: 15px;
    border-left: 3px solid;
    background: rgba($purple, 0.2);

    p:first-child {
      color: #bf7e2e;
      font-size: 20px;
    }

    p:last-child {
      margin: 0;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width:480px) {
  .content-title {
    h1 {
      font-size: 23px;
    }
  }
}