.modal-body {
  padding-bottom: 3rem;
  .prod-slid {
    .slick-dots {
      bottom: -35px !important;
    }
  }
  .form_txt{ 
      border-radius: unset;
      &:focus{
          box-shadow: unset;
          border-color: unset;
      }
  }
}
