.shop-banner-section {
    .banner-div {
        min-height: 392px;
        position: relative;
        display: flex;

        .banner-img {
            @include bg-img;
        }

        .mobile-img {
            display: none;
        }

        .banner-content {

            h2 {
                text-align: left;
            }

            .bredcume-ul {
                li {
                    display: inline-block;
                    position: relative;

                    &:not(:last-child) {
                        margin-right: 26px;

                        &::before {
                            content: "/";
                            position: absolute;
                            top: 0;
                            right: -17px;
                            color: $black;
                        }
                    }

                    a {
                        display: block;
                        font-weight: 600;
                        color: $black;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .shop-banner-section {
        .banner-div {
            min-height: 300px;
        }
    }
}

@media only screen and (max-width:480px) {
    .shop-banner-section {
        .banner-div {
            min-height: 280px;

            .desk-img {
                display: none;
            }

            .mobile-img {
                display: block;
            }
        }
    }
}