.collection-shop-section {
    padding: 60px 0px;

    .fillter-div {
        span {
            margin-right: 10px;
        }

        select {
            background: none;
            border: 1px solid $black;
            padding: 8px 10px;
            color: $black;

            option {
                color: $black;
                padding: 10px 0;
            }
        }
    }

    .bredcume-ul {
        li {
            display: inline-block;
            position: relative;

            &:not(:last-child) {
                margin-right: 26px;

                &::before {
                    content: "/";
                    position: absolute;
                    top: 0;
                    right: -17px;
                    color: $black;
                }
            }

            a {
                display: block;
                font-weight: 600;
                color: $black;
                font-size: 12px;
            }
        }
    }

    .product-box {
        margin-bottom: 50px;
    }

    .btn-show-more {
        background: $indigo;
        padding: 10px 20px;
        color: $white !important;
        font-weight: 400;
        border: none;
        cursor: pointer;
        display: block;
        width: 130px;
        margin: auto;
        text-align: center;

        &:hover {
            background: $white;
            color: $black !important;
        }
    }
}

@media only screen and (max-width:480px) {
    .collection-shop-section {
        .product-box {
            padding: 0 45px;
        }
    }
}

@media only screen and (max-width:375px) {
    .collection-shop-section {
        .product-box {
            padding: 0 25px;
        }
    }
}