.collection-list {
  padding: 60px 0;
  .product-box {
    .product-img-box {
      position: relative;
      padding-bottom: 100%;
      margin-bottom: 20px;
      overflow: hidden;
      img {
        @include product-img;
      }
      .hover-div {
        .outline-btn {
          background: none;
          cursor: pointer;
          border: 2px solid $white;
          font-size: 14px;
          padding: 7px 18px;
          color: $white;
          text-transform: uppercase;
          width: max-content;
          display: block;
          outline: none;
          font-weight: 500;
          border-radius: 0;
          line-height: unset !important;
          &:hover {
            background: $white;
            color: $black !important;
            text-decoration: none;
          }
          span {
            text-align: center;
            display: block;
            line-height: unset;
          }
        }
      }
    }
  }
}
