{% section 'banner-collection-list' %}
{% section 'collection-shop-section' %}
{% section 'instagram_index' %}
{% comment %}
{% section 'index-join-party-section' %}
{% endcomment %}

<script>
{% capture content %}{% endcapture %}
        var content = {{ content | json }};
</script>