{% comment %}
    {% section 'faq' %}
{% endcomment %}

<div class="container">
    <div class="row ">
      <div class="col-12 py-4">
        <div class="title content-title mb-4 pt-3">
          <h1 class="text-center">{{ page.title }}</h1>
        </div>
        
      </div>
    </div>
    <div class="col-12 col-md-10 col-lg-10 col-xl-8 m-auto">
        <div class="contect text-break">
            {{ page.content }}
          </div>
    </div>
  </div>