<section class="search_section">
  <div class="container">
    {% paginate search.results by 10 %}
    <div class="header text-center p-5">
      <h5>
        {% if search.performed %}
          <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
            {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        {% else %}
          {{ 'general.search.title' | t }}
        {% endif %}
      </h5>
      <form action="/search" method="get" role="search">
        <input type="search"
               name="q"
               id="Search"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}">
        <button type="submit" class="button btn-banner w-20">
          <span class="icon-fallback-text">submit</span>
        </button>
      </form>
    </div>
  
    {% if search.performed %}
      {% if search.results_count == 0 %}
        <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
      {% else %}
        <h5 class="visually-hidden text-center mb-5">{{ 'general.search.heading' | t: count: search.results_count }}</h5>
        <div class="row">
        {% for item in search.results %}
          {% if item.object_type == 'product' %}
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 text-center">
              <a href="{{ item.url | within: collection }}">
                {% assign featured_image = item.image | default: item.featured_image %}
                <div class="search_img">
                   {% include 'responsive-image' with
                                    image: featured_image,
                                    max_width: 700,
                                    max_height: 800
                                  %}
                  {% comment %} {{ featured_image | img_url: '240x240' | img_tag }} {% endcomment %}
                </div>
                <h5>{{ item.title }}</h5>
              </a>
              {% if item.object_type == 'product' %}
                <p>
                  {% if item.compare_at_price > item.price %}
                    {% if item.price_varies %}
                      {% assign sale_price = item.price | money %}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                      {{ 'products.product.on_sale' | t }}
                      <span>{{ item.price | money }}</span>
                    {% endif %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <s>{{ item.compare_at_price | money }}</s>
                  {% else %}
                    {% if item.price_varies %}
                      {% assign price = item.price | money %}
                      <span>{{ 'products.product.from_text_html' | t: price: price }}</span>
                    {% else %}
                      <span>{{ item.price | money }}</span>
                    {% endif %}
                  {% endif %}
                  {% unless item.available %}
                  {{ 'products.product.sold_out' | t }}
                  {% endunless %}
                </p>
              {% else %}
                <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
              {% endif %}
            </div>
          {% endif %}
          {% endfor %}
            <div class="col-12 pb-5">
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endpaginate %}
  </div>
</section>
