<form id="mailchimp_form" action="{{ section.settings.mailchimp_url }}">
    <input class="required email text-center input-join p-2 mb-3" id="mce-EMAIL" name="EMAIL" placeholder="Email Address" type="email" value="">
    <input class="subscribe-btn text-uppercase" id="mc-embedded-subscribe" name="submit" type="submit" value="JOIN">
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        <input name="b_c7405f962e5f7d406e3c4cb95_2e2c649c52" tabindex="-1" type="text" value="">
    </div>
</form>

<p class="form_success" style="display: none">
    Subscribed successfully !</p>
<p class="form_error" style="display: none">
    Error!</p>
