
<div class="desktop-menu">
    <nav class="nav-main">
        <div class="container">
            <div class="row align-items-center pt-2">
                {% comment %} <div class="col-xl-4 col-lg-4 position-static">
                    <div class="left-menu-div">
                        <ul class="mb-0 nav-ul list-unstyled">
                            {% for link in linklists[section.settings.main_linklist].links %}
                            {% assign child_list_handle = link.title | handleize %}
                            {% if menus[child_list_handle].links != blank %}
                            <li class="nav-menu-li {% if link.active %}active{% endif %}">
                                <a href="{{ link.url }}"
                                    class="nav-link d-flex align-items-center justify-content-between {{ link.handle }}"
                                    title="{{ link.title }}">
                                    <span>{{ link.title }}</span> <i class="icon ion-md-arrow-dropdown ml-1"></i>
                                </a>
                                <div class="megamenu">
                                    <div class="container">
                                        <div class="row m-md-0">
                                            <div class="col-xl-3 col-lg-3">
                                                <div class="category-ul-div">
                                                    <ul class="nav nav-tabs categori-ul list-unstyled mb-0"
                                                        id="category" role="tablist">
                                                        {% for link in menus[child_list_handle].links %}
                                                        {% assign colHandle = link.url | replace: '/collections/', '' %}
                                                        {% assign collection = collections[colHandle] %}
                                                        <li class="nav-item w-100">
                                                            <a class="menmenu-tab-controller"
                                                                id="{{ collection.handle }}-tab"
                                                                data-href="{{ collection.url }}"
                                                                href="#{{ collection.handle }}" role="tab"
                                                                aria-controls="{{ collection.handle }}"
                                                                aria-selected="true">
                                                                {% comment %}
                                                                <div class="img-cate">
                                                                    {% if collection.image != blank %}
                                                                    <img src="{{ collection.image | img_url:'medium' }}"
                                                                        alt="{{ collection.title }}" />
                                                                    {% endif %}
                                                                </div>
                                                                {% endcomment %}
                                                                <div class="cate-content">
                                                                    <p class="mb-0">{{ link.title }}</p>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <!-- <div class="btn-div mt-2">
                                                        <a class="outline-btn py-2 px-3 text-center"
                                                            href="/collections/all">Shop All</a>
                                                    </div> -->
                                                </div>
                                            </div>

                                            <div class="col-xl-9 col-lg-9 pr-0 sub-cate-div tab-content megamenu-tabs">
                                                {% for link in menus[child_list_handle].links %}
                                                {% assign colHandle = link.url | replace: '/collections/', '' %}
                                                {% assign collection = collections[colHandle] %}
                                                {% if collection.title != blank %}
                                                <div class="tab-pane" id="{{ collection.handle }}" role="tabpanel"
                                                    aria-labelledby="{{ collection.handle }}">
                                                    <div class="row align-items-center">
                                                        <div class="col-xl-11 col-lg-11 m-auto sub-cate-main-div p-0">
                                                            <div class="row sub-cate-ul mb-0">
                                                                {% for product in collection.products limit: 5 %}
                                                                <div class="col-4 text-center sub-cate-div">
                                                                    <a href="{{ product.url | within: collection }}">
                                                                        <div class="sub-cat-img">
                                                                            <img src="{{ product.featured_image | img_url:'150x' }}"
                                                                                atl="{{ product.title }}">
                                                                        </div>
                                                                        <div class="sub-cat-content">
                                                                            <p class="mb-0">{{ product.title }}</p>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                            {% comment %} <div class="btn-div mt-2">
                                                                <a class="outline-btn py-2 px-3 text-center"
                                                                    href="#">Shop All</a>
                                                            </div> {% endcomment %}
                                                        </div>
                                                        {% comment %}
                                                        <div class="col-xl-5 col-lg-5 sub-cate-img-div">
                                                            <a href="{{ collection.url }}">
                                                                <img class="cate-img"
                                                                    src="{{ collection.handle | append: '.png' | file_url }}"
                                                                    alt="{{ collection.title }}"
                                                                    onerror="this.style.display='none';">
                                                            </a>
                                                        </div>
                                                        {% endcomment %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-menu-li {% if link.active %}active{% endif %}">
                                <a class="nav-link {{ link.handle }}" href="{{ link.url }}" name="{{ link.title }}"
                                    title="{{ link.title }}" aria-label="{{ link.title }}">
                                    {{ link.title }}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div> {% endcomment %}
                <div class="col-xl-9 col-lg-9 text-right">
                    <a href="{{ shop.url }}">
                        <div class="logo-div">
                            {% if settings.main_logo != blank %}
                            <img src="{{ settings.main_logo | img_url: 'original' }}" class="img-fluid"
                                alt="{{ shop.name | escape }}"  />
                            {% elsif logo contains 'no-image' %}
                            <span class="h5 text-primary"><i class="icon ion-pound text-primary"></i>
                                {{ shop.name | escape }}</span>
                            {% else %}
                            <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"
                                style="width: {{ logo_width }}px">
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 text-right">
                    <div class="right-menu">
                        <ul class="right-ul list-unstyled mb-0 nav-ul">
                            <li class="nav-menu-li cart-btn">
                            <a href="/" data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="c-header__link c-header__link--cart js-cartCanvas" >
                                <i class="fa fa-shopping-bag"></i>
                            </a>
                            </li>
                            <li class="nav-menu-li">
                             <a href="/a/wishlist"><i class="fa fa-heart"></i></a>
                            </li>
                            <li class="nav-menu-li">
                                <a href="/account"><i class="fa fa-user"></i></a>
                            </li>
                            <li class="nav-menu-li">
                                <a href="/search"><i class="fa fa-search"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 text-center">
                    <div class="left-menu-div">
                        <ul class="mb-0 nav-ul list-unstyled">
                            {% for link in linklists[section.settings.main_linklist].links %}
                            {% assign child_list_handle = link.title | handleize %}
                            {% if menus[child_list_handle].links != blank %}
                            <li class="nav-menu-li {% if link.active %}active{% endif %}">
                                <a href="{{ link.url }}"
                                    class="nav-link d-flex align-items-center justify-content-between {{ link.handle }}"
                                    title="{{ link.title }}">
                                    <span>{{ link.title }}</span> <i class="icon ion-md-arrow-dropdown ml-1"></i>
                                </a>
                                {%- if link.levels <= 1 -%}
                                    <div class="d-down">
                                    <ul class="list-unstyled">
                                    {% for link in menus[child_list_handle].links %}
                                    <li><a href="{{ link.url }}">{{link.title}}</a></li>
                                    {% endfor %}
                                    </ul>
                                    </div>
                                    {%- else -%}
                                    <div class="megamenu">
                                    <div class="container">
                                        <div class="row m-md-0">
                                            <div class="col-xl-12 col-lg-12">
                                                <div class="category-ul-div">
                                                    <ul class="d-flex categori-ul list-unstyled mb-0"
                                                        id="category" role="tablist">
                                                        {% for link in menus[child_list_handle].links %}
                                                        {% assign colHandle = link.url | replace: '/collections/', '' %}
                                                        {% assign collection = collections[colHandle] %}
                                                        <li class="w-25">
                                                            <a class="menmenu-tab-controller"
                                                                id="{{ collection.handle }}-tab"
                                                                data-href="{{ collection.url }}"
                                                                href="#{{ collection.handle }}" role="tab"
                                                                aria-controls="{{ collection.handle }}"
                                                                aria-selected="true">
                                                                {% comment %}
                                                                <div class="img-cate">
                                                                    {% if collection.image != blank %}
                                                                    <img src="{{ collection.image | img_url:'medium' }}"
                                                                        alt="{{ collection.title }}" />
                                                                    {% endif %}
                                                                </div>
                                                                {% endcomment %}
                                                                <div class="cate-content">
                                                                    <p class="mb-0">{{ link.title }}</p>
                                                                </div>
                                                            </a>
                                                            {% if link.links != blank %}
                                                            <ul class="list-unstyled" style="backround-color:#000;display:inline;">
                                                            {% for grandchild in link.links %}
                                                            <li>
                                                            <a href="{{ grandchild.url }}" class="site-nav__link" style="padding-left:0 !important;">
                                                                {{ grandchild.title }}
                                                            </a>
                                                            </li>
                                                            {% endfor %}
                                                            </ul>  
                                                            {% endif%}
                                                        </li>
                                                        {% endfor %}
                                                        <li class="w-75">
                                                            {%- for block in section.blocks -%}
                                                                {%- if block.settings.menu_handle == link.title -%}
                                                                    <div class="mega-img">
                                                                    <img src="{{block.settings.image-menu | img_url: 'original'}}" alt="#" />
                                                                    {% comment %} <p>{{block.settings.text_title}}</p> {% endcomment %}
                                                                    </div>                                                            
                                                                {%- endif -%}
                                                            {%- endfor -%}
                                                        </li>
                                                    </ul>
                                                    <!-- <div class="btn-div mt-2">
                                                        <a class="outline-btn py-2 px-3 text-center"
                                                            href="/collections/all">Shop All</a>
                                                    </div> -->
                                                </div>
                                            </div>

                                            {% comment %} <div class="col-xl-9 col-lg-9 pr-0 sub-cate-div tab-content megamenu-tabs">
                                                {% for link in menus[child_list_handle].links %}
                                                {% assign colHandle = link.url | replace: '/collections/', '' %}
                                                {% assign collection = collections[colHandle] %}
                                                {% if collection.title != blank %}
                                                <div class="tab-pane" id="{{ collection.handle }}" role="tabpanel"
                                                    aria-labelledby="{{ collection.handle }}">
                                                    <div class="row align-items-center">
                                                        <div class="col-xl-11 col-lg-11 m-auto sub-cate-main-div p-0">
                                                            <div class="row sub-cate-ul mb-0">
                                                                {% for product in collection.products limit: 5 %}
                                                                <div class="col-4 text-center sub-cate-div">
                                                                    <a href="{{ product.url | within: collection }}">
                                                                        <div class="sub-cat-img">
                                                                            <img src="{{ product.featured_image | img_url:'150x' }}"
                                                                                atl="{{ product.title }}">
                                                                        </div>
                                                                        <div class="sub-cat-content">
                                                                            <p class="mb-0">{{ product.title }}</p>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                            {% comment %} <div class="btn-div mt-2">
                                                                <a class="outline-btn py-2 px-3 text-center"
                                                                    href="#">Shop All</a>
                                                            </div> {% endcomment %}
                                                        </div>
                                                        {% comment %}
                                                        <div class="col-xl-5 col-lg-5 sub-cate-img-div">
                                                            <a href="{{ collection.url }}">
                                                                <img class="cate-img"
                                                                    src="{{ collection.handle | append: '.png' | file_url }}"
                                                                    alt="{{ collection.title }}"
                                                                    onerror="this.style.display='none';">
                                                            </a>
                                                        </div>
                                                        {% endcomment %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                {%- endif -%}
                            </li>
                            {% else %}
                            <li class="nav-menu-li {% if link.active %}active{% endif %}">
                                <a class="nav-link {{ link.handle }}" href="{{ link.url }}" name="{{ link.title }}"
                                    title="{{ link.title }}" aria-label="{{ link.title }}">
                                    {{ link.title }}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        </div>
    </nav>
</div>

<div class="mobile-menu">
    <nav class="nav-main">
        <div class="container">
            <div class="row py-3 align-items-center">
                <div class="col-3">
                    <button class="menu-toogle-btn"><i class="fa fa-bars"></i></button>
                    <div class="mobile-menu-div">
                        <div class="mob-menu-header text-right">
                            <p class="mb-0 "><span class="close-btn">&times;</span></p>
                        </div>
                        <ul class="mb-0 mob-nav-ul list-unstyled">
                            {% for link in linklists[section.settings.main_linklist].links %}
                            {% assign child_list_handle = link.title | handleize %}
                            {% if menus[child_list_handle].links != blank %}
                            <li class="mob-nav-menu-li">
                                <a href="#">{{ link.title }}
                                    <span class="icon-plus">+</span>
                                </a>
                                <div class="sub-menu close-sub" id="sub-menu">
                                    <div class="sub-menu-header" id="sub-header">
                                        <p class="head-top mb-0 text-center">
                                            <span class="left-arrow ">
                                                <img
                                                    src="https://cdn.shopify.com/s/files/1/1990/5397/files/left-arrow_7f81d503-b818-4702-9ac8-99045054e54e.png?3644" class="head-top">
                                            </span> {{ link.title }}
                                        </p>
                                    </div>
                                    <div class="category-ul-div">
                                        <ul class="categori-ul list-unstyled mb-0">
                                            {% for link in menus[child_list_handle].links %}
                                            {% assign colHandle = link.url | replace: '/collections/', '' %}
                                            {% assign collection = collections[colHandle] %}
                                            <li class="w-100 mob-cat-li">
                                                <a href="{{ link.url }}">
                                                    {% comment %}
                                                    <div class="img-cate">
                                                        {% if collection.image %}<img
                                                            src="{{ collection.image | img_url:'200x' }}"
                                                            alt="{{ collection.title }}">{% endif %}
                                                    </div>
                                                    {% endcomment %}
                                                    <div class="cate-content">
                                                        <p class="mb-0">{{ link.title }}</p>
                                                    </div>
                                                    <!-- <span class="icon-plus submenu-open">+</span> -->
                                                </a>
                                                {% if link.links != blank %}
                                                <ul class="peta-menu list-unstyled mb-0">
                                                {% for grandchild in link.links %}
                                                    <li><a href="{{ grandchild.url }}" style="color:#5f5f6194 !important;">{{ grandchild.title }}</a></li>
                                                {% endfor %}
                                                    <!-- <li>
                                                        <div class="btn-div my-2">
                                                            <a class="outline-btn py-2 px-3 text-center"
                                                                href="{{ collection.url }}">Shop All</a>
                                                        </div>
                                                    </li> -->
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% else %}
                            <li class="mob-nav-menu-li"><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <div class="logo-div">
                        {% if settings.main_logo != blank %}
                        <a href="{{ shop.url }}">
                            <img src="{{ settings.main_logo | img_url: 'original' }}" class="img-fluid"
                                alt="{{ shop.name | escape }}" style="width: {{ logo_width }}px" /></a>
                        {% elsif logo contains 'no-image' %}
                        <a href="{{ shop.url }}"><span class="h5 text-primary"><i
                                    class="icon ion-pound text-primary"></i>
                                {{ shop.name | escape }}</span></a>
                        {% else %}
                        <a href="{{ shop.url }}"><img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"
                                style="width: {{ logo_width }}px"></a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-3 pl-0 text-right">
                    <div class="right-menu">
                        <ul class="right-ul list-unstyled mb-0 nav-ul">
                            <li class="nav-menu-li">
                                <a href="/cart" data-target-element="offcanvas-right" data-offcanvas-src="#offcanvas-right" class="c-header__link c-header__link--cart js-cartCanvas"><i class="fa fa-shopping-bag"></i> <span
                                        class="main-link">Cart</span></a>
                            </li>
                            <li class="nav-menu-li">
                             <a href="/a/wishlist"><i class="fa fa-heart"></i> <span class="main-link"> Whishlist</span></a>
                            </li>
                            <li class="nav-menu-li">
                                <a href="/account"><i class="fa fa-user"></i> <span class="main-link">Account</span></a>
                            </li>
                            <li class="nav-menu-li">
                                <a href="/search"><i class="fa fa-search"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>