<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div style="border:none;" class="modal-content">
        <div style="border:none;" class="modal-header">
            <!-- <h5 class="modal-title"></h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
         </div>
        <div class="modal-body pb-1">
          <div class="container col-md-12">
              <div class="row">
                  <div class="col-lg-6">
                  <div class="prod-slid mb-0 pro-slide">
                            
                        </div>
                  </div>
                    <div class="col-xl-6 col-lg-6 mt-xl-0 mt-lg-0 mt-5 text-center order-2 order-xl-1 order-lg-1">
                        <div class="product-detail-content">
                          <div class="product-head pb-3">
                            <h4 id="product-title"></h4>
                            <div class="price-text">
                              <span class="price mr-4" id="product-price"></span>
                                <span class="review-pro">
                                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                              </span>
                            </div>
                            <div class="product-sort-discription mt-4">
                              <p id="p_des"></p>
                            </div>
                          </div>
                          <form method="post" action="/cart/add">
                            <input type="hidden" class="pro_id" name="id" value="{{ product.variants.first.id }}" />
                            <div class="product-qty py-2" data-qtyContainer>
                              <div class="row pt-2 m-0">
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                      <div class="form-group d-flex mb-0">
                                          <div id="select-var" class="w-100"></div>
                                      </div>
                                    </div>
                                      {% comment %}  <div class="form-group d-flex mb-0">
                                       <select class="form-control form_txt " name="id" id="product-select">
                                        {% for variant in product.variants %}
                                          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}  value="{{ variant.id }}">{{ variant.title }}</option>
                                        {% endfor %}
                                      </select> 
                                    </div>

                                  {% endcomment %}
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="form-group d-flex mb-0">
                                      <select class="form-control form_txt" id="Quantity" name="quantity">
                                        {% for qnt in (1..10) %}
                                          <option value="{{qnt}}">{{qnt}}</option>
                                        {% endfor %}
                                      </select>
                                </div>
                                {% comment %} <div class="lable-cls">
                                <label>qnt</label> {% endcomment %}
                                </div>
                                  </div>
                              </div>
                                  <div class="col-12 mt-3">
                                      <div class="pro-add-btn">
                                        <button class="banner-btn w-100" type="submit" id="AddToCart">Add To Cart</button>
                                      </div>
                                  </div>
                                  {% comment %} <div class="col-12 mt-3">
                                  <button class="orderby-p w-100" type="submit">Order by Phone</button>
                                  </div> {% endcomment %}
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
  </div>
    
</div>