.acc {
    .form-control {
        background-color: transparent;
        width: 100%;
        background: none;
        color: #020202;
        margin-bottom: 15px;
        border-radius: 0;
        padding: 20px;
        &:focus {
            border: 1px solid #ced4da;
            box-shadow: none !important;
        }
    }
    .cnl {
        background-color: transparent;
        color: #bf7e2e;
        border: 0;
    }
    .errors {
        ul {
            list-style: disc;
        }
    }
}

.contact-form {
    p {
        font-size: 14px;
    }
}

@media only screen and (max-width:480px) {
    .acc {
        h1 {
            font-size: 30px;
        }
    }
}