.order-history {
    .table {
        white-space: nowrap;
        th {
            background: #c29958;
            color: #ffffff !important;
            font-weight: 500;
            padding: 8px;
            font-size: 14px;
        }
        tr:last-child {
            td {
                border-bottom: 1px solid #dee2e6;
            }
        }
    }
    .list-group-item {
        outline: auto;
    }
    .list-group-item,
    a {
        &:hover {
            color: #c29958 !important;
        }
    }
    .alert {
        background-color: #f9f5ef !important;
    }
    .table-hover {
        tr {
            &:hover {
                background: #f9f5ef !important;
            }
        }
    }
}