.media-section {
    .banner-div {
        min-height: 150px;
        position: relative;
        display: flex;

        .bg-media {
            @include bg-img;
            opacity: .5;
        }

        .banner-content {
            h2 {
                font-weight: 900;
                font-size: 40px;
            }
        }
    }

    .video-gallery {
        .img-gif {
            margin: 30px 0;

            .gif-img-div {
                position: relative;
                padding-bottom: 60%;
                box-shadow: 0px 0px 15px -3px rgba($purple, 1);

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    object-fit: cover;
                }
            }
        }

        .video-box {
            .video-if {
                box-shadow: 0px 0px 15px -3px rgba($purple, 1);
            }
        }

    }
}

@media only screen and (max-width:767px) {
    .media-section {
        .banner-div {
            min-height: 150px;
        }

        .video-gallery {
            .img-gif {
                .gif-img-div {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width:480px) {
    .media-section {
        .banner-div {
            min-height: 150px;

            .banner-content {
                h2 {
                    font-size: 30px;
                }
            }
        }
    }
}