.footer {
  background-color: $black;

  .footer_img {
    img {
      width: 75%;
    }
  }

  .footer-top {
    .footer-link-div {
      .link-foot {
        display: flex;
        align-items: center;

        h3 {
          font-size: 25px;
          color: $purple;
          margin-right: 35px;
          width: fit-content;
        }

        .footer-ul {
          li {
            padding: 5px 25px;
            display: inline-block;

            a {
              color: $white;
              font-size: 14px;
              display: block;
              font-weight: 300;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .social-links {
      p {
        font-size: 12px;
      }

      .social-ul {
        li {
          display: inline-block;
          padding: 0 5px;

          a {
            display: block;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
            font-size: 18px;
            color: $white;
            border: 1px solid;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid $white;

    p {
      font-size: 12px;
      color: white;
    }
  }
}

@media only screen and (min-width:991px) and (max-width: 1199px) {
  .footer {
    .footer-top {
      .footer-link-div {
        .footer-ul {
          li {
            padding: 5px 20px !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
  .footer {
    .footer-top {
      .footer-link-div {
        .link-foot {
          display: block;
          text-align: center;
          margin-top: 0 !important;

          h3 {
            width: auto;
            margin-right: 0;
            padding: 0;
          }

          .footer-ul {
            li {
              padding: 5px 10px;
              display: block;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    .container {
      max-width: 767px;
    }

    .footer-top {
      .footer-link-div {
        .link-foot {
          display: block;
          text-align: center;
          margin-bottom: 20px !important;

          h3 {
            width: auto;
            margin-right: 0;
            padding: 0;
          }

          .footer-ul {
            li {
              padding: 5px 10px;
              display: block;
            }
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 480px) {
  .footer {
    .footer-top {
      .footer-link-div {
        h3 {
          font-size: 22px;
        }
      }
    }
  }
}