.annucement-bar {
    p {
        font-size: 12px;
        color: $white;
        font-weight: 500;
    }
}

.is-sticky {
    position: relative;
    z-index: 999;
    .header {
        box-shadow: 0px 0px 10px rgba($indigo, 0.9);
        background-color: $white;
    }
}

.header {
    background: #fff;
    .desktop-menu {
        position: relative;
        nav {
            padding: 10px 0px;
        }
        .nav-main {
            .left-menu-div {
                .nav-ul {
                    .nav-menu-li {
                        display: inline-block;
                        position: static;
                        padding: 30px 0px 10px 0px;
                        cursor: pointer;
                        a {
                            font-weight: 600;
                            text-transform: uppercase;
                            font-size: 10px;
                            letter-spacing: 1.3px;
                            color: #0a0a28;
                            padding: 0px 30px;
                        }
                        .d-down {
                            display: none;
                            position: absolute;
                            padding: 10px;
                            z-index: 999;
                            background-color: white;
                            top: 50px;
                            text-align: left;
                            width: 15%;
                            transition: opacity 0.25s ease 0.1s;
                            box-shadow: 5px 5px 14px 0 rgba(0, 0, 0, 0.5);
                            li {
                                padding: 5px;
                                &:hover {
                                    a {
                                        color: $indigo;
                                    }
                                }
                                a {
                                    padding: unset;
                                }
                            }
                        }
                        .megamenu {
                            position: absolute;
                            width: 100%;
                            background: #fff;
                            top: 100%;
                            left: 0;
                            right: 0;
                            z-index: 99;
                            padding: 15px;
                            display: none;
                            transition: opacity 0.25s ease 0.1s;
                            box-shadow: 5px 15px 12px -14px rgba(0, 0, 0, 0.5);
                            .category-ul-div {
                                .categori-ul {
                                    .menmenu-tab-controller {
                                        .cate-content {
                                            p {
                                                color: $indigo;
                                                font-weight: bolder;
                                                font-size: 11px;
                                            }
                                        }
                                    }
                                    .mega-img {
                                        position: relative;
                                        overflow: hidden;
                                        margin: auto;
                                        padding-bottom: 53%;
                                        img {
                                            position: absolute;
                                            top: 0;
                                            left: -179px;
                                            right: 0;
                                            bottom: 0;
                                            object-fit: cover;
                                            object-position: center;
                                            margin: auto;
                                        }
                                    }
                                    li {
                                        position: relative;
                                        overflow: hidden;
                                        a {
                                            padding: 10px 0px;
                                            display: flex;
                                            align-items: center;
                                            color: $black; // height: 70px;
                                            .img-cate {
                                                position: relative;
                                                width: 50px;
                                                height: 50px;
                                                border-radius: 50%;
                                                margin-right: 20px;
                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                    border-radius: 50%;
                                                }
                                            }
                                            &:hover {
                                                // background: rgba($indigo, 0.1);
                                                color: $indigo;
                                            }
                                        } // .active {
                                        //   // background: rgba($indigo, 0.1) !important;
                                        //   background-color: #f9f5ef;
                                        // }
                                        &:last-child {
                                            border-bottom: none;
                                        }
                                    }
                                }
                                .btn-div {
                                    .outline-btn {
                                        width: 100%;
                                        display: block;
                                        color: $indigo !important;
                                        &:hover {
                                            color: $white !important;
                                        }
                                    }
                                }
                            }
                            .sub-cate-div {
                                .sub-cate-main-div {
                                    .sub-cate-ul {
                                        width: 80%;
                                        margin: auto;
                                        .sub-cate-div {
                                            padding: 0px 30px;
                                            margin-bottom: 20px;
                                            a {
                                                display: block;
                                                padding: 0;
                                                .sub-cat-img {
                                                    width: 100%;
                                                    position: relative;
                                                    margin-bottom: 10px;
                                                    overflow: hidden;
                                                    &:before {
                                                        content: "";
                                                        position: relative;
                                                        padding-top: 100%;
                                                        height: 100%;
                                                        width: 100%;
                                                        display: block;
                                                    }
                                                    img {
                                                        width: 100%;
                                                        position: absolute;
                                                        top: 0;
                                                        right: 0;
                                                        left: 0;
                                                        bottom: 0;
                                                        margin: auto;
                                                        object-fit: cover;
                                                        object-position: center;
                                                    }
                                                }
                                                .sub-cat-content {
                                                    p {
                                                        font-size: 12px;
                                                        height: 36px;
                                                        overflow: hidden;
                                                        color: $black;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .sub-cate-img-div {
                                    .cate-img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                        &:hover {
                            .megamenu {
                                display: block;
                            }
                            .d-down {
                                display: block;
                            }
                        }
                    }
                }
            }
            .logo-div {
                img {
                    width: 60%;
                }
            }
            .right-menu {
                .nav-ul {
                    .nav-menu-li {
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        a {
                            padding: 0 10px;
                            font-weight: 450;
                            font-size: 12px;
                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .topbadge {
        display: none !important;
    }
    .mobile-menu {
        display: none;
        .menu-toogle-btn {
            background: none;
            // border: 1px solid $indigo;
            border: 0px;
            color: $indigo;
            font-size: 25px;
            padding: 2px 10px;
            border-radius: 5px;
        }
        .mobile-menu-div {
            position: fixed;
            margin: 0;
            width: 100%;
            max-width: 300px;
            background-color: #fff;
            top: 0;
            bottom: 0;
            z-index: 10000;
            transition: all ease-in-out 0.5s;
            left: -100%;
            .mob-menu-header {
                .close-btn {
                    font-size: 35px;
                    color: $indigo;
                    font-weight: 500;
                    padding: 0px 15px;
                    cursor: pointer;
                }
            }
            .mob-nav-ul {
                padding-left: 0px;
                max-height: calc(100% - 40px);
                overflow: auto;
                padding: 10px 0;
                .mob-nav-menu-li {
                    // border-bottom: 1px solid rgba(191, 126, 46, 0.5);
                    // border-bottom: 1px solid rgba(223, 103, 220, 0.2);
                    padding: 0px 15px;
                    a {
                        display: block;
                        font-size: 17px;
                        padding: 10px 0px;
                        font-weight: 500;
                        color: $indigo;
                        text-transform: uppercase;
                    }
                    .sub-menu {
                        position: fixed;
                        margin: 0;
                        width: 100%;
                        max-width: 300px;
                        background-color: #fff;
                        top: 0;
                        bottom: 0;
                        z-index: 10000;
                        transition: all ease-in-out 0.5s;
                        left: -100%;
                        .sub-menu-header {
                            padding: 15px;
                            p {
                                color: $indigo;
                                font-weight: 500;
                                font-size: 18px !important;
                                position: relative;
                                .left-arrow {
                                    position: absolute;
                                    left: 0;
                                    top: -2px;
                                    img {
                                        width: 20px;
                                    }
                                }
                            }
                        }
                        .category-ul-div {
                            padding-left: 0px;
                            max-height: calc(100% - 40px);
                            overflow: auto;
                            .categori-ul {
                                padding-bottom: 10px;
                                li {
                                    a {
                                        padding: 10px 15px;
                                        display: flex;
                                        align-items: center;
                                        color: $indigo;
                                        font-size: 15px;
                                        .img-cate {
                                            position: relative;
                                            width: 40px;
                                            height: 40px;
                                            border-radius: 50%;
                                            margin-right: 15px;
                                            img {
                                                width: 100%;
                                                height: 100%;
                                                border-radius: 50%;
                                            }
                                        }
                                        &:hover {
                                            background: rgba($purple, 0.1);
                                        }
                                        .icon-plus {
                                            position: absolute;
                                            right: 15px;
                                            font-size: 20px;
                                            font-weight: 400;
                                        }
                                    }
                                    .active {
                                        background: rgba($indigo, 0.1) !important;
                                    }
                                    .peta-menu {
                                        display: none;
                                        li {
                                            a {
                                                color: $indigo !important;
                                                font-size: 14px;
                                                &:hover {
                                                    color: $purple !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .btn-div {
                                padding: 0px 15px;
                                .outline-btn {
                                    width: 100%;
                                    display: block;
                                    color: $indigo !important;
                                    &:hover {
                                        color: $white !important;
                                    }
                                }
                            }
                        }
                    }
                    .close-sub {
                        left: -100% !important;
                    }
                    .open-sub {
                        left: 0% !important;
                    }
                }
            }
        }
        .right-menu {
            .nav-ul {
                .nav-menu-li {
                    a {
                        padding: 0 10px;
                        font-weight: 600;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header {
        .desktop-menu {
            .nav-main {
                .left-menu-div {
                    .nav-ul {
                        .nav-menu-li {
                            a {
                                padding: 0 15px; // font-size: 14px;
                            }
                            .megamenu {
                                .container {
                                    max-width: 100%;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
                .right-menu {
                    .nav-ul {
                        .nav-menu-li {
                            a {
                                padding: 0 4px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .header {
        .desktop-menu {
            display: none;
        }
        .mobile-menu {
            display: block;
            .right-menu {
                .nav-ul {
                    .nav-menu-li {
                        a {
                            padding: 0 6px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .header {
        .container {
            max-width: 767px;
        }
        .mobile-menu {
            .right-menu {
                .nav-ul {
                    .nav-menu-li {
                        a {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .annucement-bar {
        p {
            font-size: 11px;
        }
    }
    .header {
        .mobile-menu {
            .logo-div {
                img {
                    width: 90%;
                }
            }
            .menu-toogle-btn {
                font-size: 15px;
                padding: 3px 10px;
            }
            .right-menu {
                .nav-ul {
                    .nav-menu-li {
                        a {
                            padding: unset;
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}