html {
  padding-bottom: 0 !important;
}

.template-login {
  header {
    display: none !important;
  }

  .topbar {
    display: none !important;
  }

  footer {
    display: none !important;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("{{ Montserrat-Regular.ttf | asset_url }}");
}

body {
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: normal;
  overflow-x: hidden;

  .tangerine {
    font-family: "Tangerine", cursive !important;
  }

  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    right: -100%;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    color: black;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .quick-cart-footer {
    width: 100%;
    position: fixed;
    right: 0;
    z-index: 999999;
    top: initial;
    left: 0;
    bottom: 0;
    background: #f9f5ef;
    padding-bottom: 10px;
    height: auto;
    transition: 0.4s;
  }

  .outline-btn {
    background: none;
    cursor: pointer;
    padding: 10px 30px;
    color: $white;
    text-transform: uppercase;
    width: max-content;
    display: block;
    outline: none;
    font-weight: 500;
    margin: unset !important;

    button {
      background: transparent;
    }
  }

  .btn-main {
    background: $indigo;
    cursor: pointer;
    padding: 6px 20px;
    color: $black;
    text-transform: uppercase;
    width: max-content;
    display: block;
    outline: none;
    font-weight: 500;

    &:hover {
      background: $purple;
      color: $black !important;
      text-decoration: none;
    }
  }

  .banner-btn {
    background: #000000;
    color: #fff;
    font-size: 13px;
    padding: 12px 15px;
    border: none;

    &:hover {
      background: $indigo;
      color: #ffffff !important;
    }

    &:focus {
      outline: unset;
    }
  }

  .btn-banner {
    background: $indigo;
    color: #fff;
    font-size: 13px;
    padding: 12px 15px;
    border: none;

    &:hover {
      color: #000000 !important;
      background: #fff;
    }
  }

  .orderby-p {
    background-color: #f9f7f3;
    color: black;
    border: 1px solid;
    font-size: 13px;
    padding: 12px 15px;
    margin: auto;

    &:hover {
      background-color: white;
    }
  }

  .spr-badge-starrating {
    .spr-icon {
      color: $indigo;
    }
  }

  ::selection {
    background: $white;
  }

  #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: $indigo;
    color: $black;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
  }

  #back-to-top:hover {
    background: #e9ebec;
  }

  #back-to-top.show {
    opacity: 1;
  }
}

.close {
  right: -100% !important;
  left: unset !important;
}

.open {
  right: 0;
  left: 0;
}

.zoom {
  display: inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;

}

.zoom img {
  display: block;
  background: $white !important;
  cursor: pointer;
}

input[type=search] {
  padding: 5px 10px;
  height: 40px;
  border: 1px solid;
  width: 40%;

  &:focus {
    outline: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 15px;
  }

  h5,
  .h5 {
    font-size: 1.06rem;
  }
}

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden !important;
  }

  .container {
    min-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }

  h3,
  .h3 {
    font-size: 18px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }
}