.formula-section {
    padding: 60px 0px;
    position: relative;

    .bg-img {
        @include bg-img;
    }

    .formula-box {
        .formula-img-box {
            .formula-icon {
                width: 120px;
                margin-bottom: 15px !important;
                margin: auto;
            }
        }
    }

    .join-party-form {
        .input-newsletter {
            border: 2px solid $purple;
            outline: none;
            background: none;
            color: $purple;
            margin-right: 8px;
            padding: 0px 10px;
            height: 44px;
            width: 31%;

            &::placeholder {
                color: $indigo;
            }

            &:last-child {
                margin-right: 0px;
            }
        }

        .subscribe-btn {
            background: $purple;
            padding: 10px 30px;
            color: $black;
            font-weight: 400;
            border: none;
            width: 100%;
            
            &:hover {
                background: $white;
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    .formula-section {
        .formula-box {
            .formula-img-box {
                .formula-icon {
                    width: 110px;
                }
            }
        }

        .join-party-form {
            .input-newsletter {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }
}

@media only screen and (max-width:767px) {
    .formula-section {
        .join-party-form {
            .input-newsletter {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}