.banner-section {
  .banner-div {
    min-height: 550px;
    display: flex !important;
    position: relative;
    align-items: center;
    // height: calc(100vh - 117px);
    &::before {
      content: "";
      background: rgba(0, 0, 0, 0.5);
      z-index: 9;
    }
    .banner-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }

    .mobile_img {
      display: none;
    }

    .banner-content {
      width: 100%;
      z-index: 99;

  .btn-banner{
    background: $indigo;
    color: #fff;
    font-size: 13px;
    padding: 12px 15px;
    border: none;
    &:hover{
      color: #000000 !important;
      background: #fff;
    }
  }
      .banner-txt {
        // background-color: rgba(255, 255, 255, 0.7);
        padding: 40px 50px;
        // border: 2px solid rgba($color: #f5eee5, $alpha: 0.5);
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        // &::before {
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   right: 0;
        //   bottom: 0;
        //   margin: auto;
        //   background: rgba($color: #f5eee5, $alpha: 0.1);
        //   width: 90%;
        //   height: 88%;
        //   display: block;
        //   z-index: 1;
        // }
        h2 {
          color: #fff;
          position: relative;
          z-index: 9;
        }
        p {
          color: #fff;
          margin-bottom: 30px;
          z-index: 9;
          position: relative;
        }
        .banner-btn {
          z-index: 9;
          position: relative;
        }
      }
      // .main-banner-row {
      //   height: 100%;
      //   padding-bottom: 155px;
      // }

      h2 {
        font-weight: 700;
        font-size: 36px;
      }
    }
  }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .banner-section {
    .banner-div {
      .banner-content {
        h2 {
          font-weight: 700;
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .banner-section {
    .container {
      padding: 0;
      max-width: 100% !important;
    }

    .banner-div {
      .banner-content {
        .main-banner-row {
          padding-bottom: 120px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .banner-section {
    .banner-div {
      .banner-content {
        h2 {
          font-size: 33px;
        }

        .outline-btn {
          margin: auto !important;
        }
        .main-banner-row {
          padding-bottom: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .banner-section {
    .banner-div {
      .banner-content {
        padding: 10px;
        h2 {
          font-size: 23px;
        }

        .outline-btn {
          margin: auto !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .banner-section {
    .banner-div {
      min-height: auto;
      display: block !important;

      .banner-img {
        position: absolute;
        min-height: 600px;
      }

      .mobile_img {
        display: block;
      }

      .desktop-img {
        display: none;
      }

      .banner-content {
        text-align: center;
        .main-banner-row {
          margin-top: 100px;
          margin-bottom: 100px;
          padding-bottom: 0;
        }

        h2 {
          font-size: 23px !important;
        }

        .banner-btn {
          width: 200px;
        }

        .btn-main {
          margin: 0 auto !important;
          font-size: 12px;
          padding: 12px 15px;
        }
        .banner-txt {
          padding: 15px 15px;
          p {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .banner-section {
    .banner-div {
      padding-bottom: 0;

      .banner-content {
        .main-banner-row {
          padding-bottom: 0px;

          .outline-btn {
            padding: 6px 15px;
            font-size: 14px;
          }

          h2 {
            padding-top: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .banner-section {
    .banner-div {
      padding-bottom: 0;
    }
  }
}
