.blog-section {
  .blog-imge {
    position: relative;
    overflow: hidden;
    margin: auto;
    padding-top: 75%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-position: center;
      object-fit: cover;
      max-width: 100%;
    }
  }
  .blog-date {
    font-size: 14px;
    .date{
      color:#969696;
    }
  }
}
