.index-collection {
  .collection-box {
    padding: 15px 0;

    .collection-img-box {
      position: relative;
      overflow: hidden;
      margin: auto;

      &::before {
        content: "";
        display: block;
        padding-bottom: 120%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      p {
        bottom: 25px;
        position: absolute;
        left: 30px;
        font-weight: normal;
      }
    }

    &:hover {
      .collection-img-box {
        p {
          a {
            color: $indigo;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .collection-box {
      p {
        left: 160px;
        bottom: 10px;
      }
    }

  }

  // @media only screen and (max-width: 425px) {
  //   .collection-box {
  //     .collection-img-box {
  //       padding-bottom: 130%;
  //     }
  //   }
  // }
}