.join-party-section {
    padding: 60px 0px;
    position: relative;

    .bg-img {
        @include bg-img;
    }

    .join-party-content {
        padding-top: 30px;

        .input-join {
            border: 2px solid $white;
            outline: none;
            width: 100%;
            box-shadow: 0px 0px 15px 0px rgba(234, 11, 208, .6);
            background: none;
            color: $purple;

        }

        .subscribe-btn {
            background: $purple;
            padding: 10px 30px;
            color: $black;
            font-weight: 400;
            border: none;

            &:hover {
                background: $white;
            }
        }

    }

    .join-party-img {
        img {
            width: 59%;
        }
    }

}

@media only screen and (max-width:992px) {
    .join-party-section {
        .join-party-img {
            img {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .join-party-section {
        .join-party-img {
            img {
                width: 85%;
            }
        }
    }
}