.product-section {
    padding: 60px 0px;
    position: relative;

    .product-bg {
        @include bg-img;
    }

    .module-title {
        position: relative;
        text-align: center;
        margin-bottom: 40px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 50%;
            z-index: 1;
            height: 9px;
            border-top: 1px solid $indigo;
            border-bottom: 1px solid $indigo;
        }

        &::after {
            content: " ";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 70%;
            height: 1px;
            z-index: 1;
            margin: auto;
            background-color: $indigo;
        }

        h3 {
            background-color: white;
            color: $indigo;
            position: relative;
            z-index: 2;
            display: inline-block;
            font-size: 15px;
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 62px;
            padding: 0px 63px;
            overflow: hidden;
            vertical-align: top;
            box-shadow: inset 0 3px 0 0 $indigo, inset 0 -3px 0 0 $indigo;

            &::before {
                content: " ";
                display: block;
                width: 100px;
                height: 100px;
                position: absolute;
                background: #fff;
                z-index: 2;
                top: 0;
                bottom: 0;
                left: -63px;
                margin: auto 0;
                border: 4px solid $indigo;
                transform: rotate(45deg) skew(26deg, 26deg);
            }

            &::after {
                content: "";
                display: block;
                width: 100px;
                height: 100px;
                position: absolute;
                background: #fff;
                z-index: 2;
                top: 0;
                bottom: 0;
                right: -63px;
                margin: auto 0;
                border: 4px solid $indigo;
                transform: rotate(45deg) skew(26deg, 26deg);
            }
        }
    }

    .title-tag-line {
        width: 70%;
        margin: auto;
        font-size: 19px;
    }

    .product-box {
        .product-img-box {
            position: relative;
            padding-bottom: 100%;
            margin-bottom: 20px;
            overflow: hidden;

            img {
                @include product-img;
                transition: 0.7s;
            }

            .hover-div {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
                line-height: 28px;
                overflow: hidden;
                height: 60px;
                padding: 10px 0px;
                font-size: 14px;
                font-weight: 700;
                line-height: 35px;
                display: block;
                text-transform: uppercase;
                font-weight: 500;
                transition: 0.3s ease-in-out;
                opacity: 0;

                .hover-btn-div {
                    width: max-content;
                    margin: auto;
                }

                .outline-btn {
                    height: 30px;
                    width: 30px;
                    padding: 0;
                    line-height: 30px;
                    font-size: 15px;
                    color: #000;
                    display: inline-block;

                    &:not(:last-child) {
                        margin-right: 5px !important;
                    }

                    span {
                        text-align: center;
                        display: block;
                        line-height: unset;
                    }
                }

                .see-col {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-bottom: 5px;
                    color: #c29958 !important;
                }
            }
        }

        .product-content {
            p {
                font-size: 14px;
            }

            h5 {
                color: $black;
                overflow: hidden;
                max-height: 44px;
                font-weight: 400;

                span {
                    font-size: 15px;
                    margin-top: 5px;
                }
            }

            .banner-btn {
                padding: 8px 15px;
                font-size: 12px;
                border-radius: 0;
            }

            .tag-coll {
                font-size: 0.9rem;
            }

            .review-pro {
                .spr-badge-starrating {
                    margin-right: 7px;
                }
            }

            .outline-btn {
                padding: 8px 30px;
                font-size: 14px;
            }
        }

        &:hover {
            .product-img-box {
                .hover-div {
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .product-section {
        .product-box {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .product-section {
        .title-tag-line {
            width: 100%;
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .product-section {
        .product-box {
            padding: 0px 40px;
        }

        .title-tag-line {
            width: 100%;
            font-size: 15px;
        }
    }
}