.search_section {
    .search_img {
        position: relative;
        overflow: hidden;
        margin: auto;

        &::before {
            content: '';
            padding-bottom: 80%;
            display: block;
        }

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            object-fit: cover;
            margin: auto;
            width: 100%;
            object-position: center;
        }
    }
}