.testimonial-section {
  position: relative;
  .bg-image {
    background-position: center;
    background: #f9f5ef;
    padding:20px 0;
  }
  .main-title {
    text-align: center;
    margin: 0 0 40px;
    padding: 40px 2px;
    text-transform: capitalize;
    background: no-repeat;
    background-position: center bottom;
    padding-bottom: 30px;
    p {
      color: #828282;
      font-style: italic;
    }
  }
}
.testimonial-slide {
  .slick-next {
    right: -110px;
    top: 50px;
    &::before {
      content: "\f105";
      font-family: FontAwesome;
      font-size: 23px;
      font-weight: bolder;
      line-height: 30px;
      color: $black;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .slick-prev {
    left: -110px;
    top: 50px;
    &::before {
      content: "\f104";
      font-family: FontAwesome;
      font-size: 23px;
      font-weight: bolder;
      line-height: 30px;
      color: $black;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.testi-main-box {
  padding: 15px;
  border-radius: 10px;
  color: #000000;
  p {
    color: #000000;
    font-style: italic;
  }
  h5 {
    color: #000000;
    margin-bottom: 0px;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width:991px) and (min-width:768px) {
  .testimonial-slide {  
    .slick-next {
      right: -70px;
    }
    .slick-prev {
      left: -70px;
    }
  }
}
@media only screen and (max-width:767px){
  .testimonial-slide {  
    .slick-next {
      display:none;
    }
    .slick-prev {
      display:none;
    }
  }
}
@media only screen and(max-width:480px) {
  .testimonial-section {
    padding: 40px 0px;
  }
}
