.product-detail-section {
    padding-top: 10px;

    .image-container {
        display: -ms-grid;
        display: grid;
        grid-gap: 30px;
        -ms-grid-columns: 200px 30px auto;
        grid-template-columns: 480px auto;
    }

    .image-details {
        position: relative;
    }

    .bredcume-ul {
        margin-bottom: 20px;

        li {
            display: inline-block;
            position: relative;

            &:not(:last-child) {
                margin-right: 19px;

                &::before {
                    content: "/";
                    position: absolute;
                    top: 0;
                    right: -14px;
                    color: $indigo;
                    font-size: 12px;
                }
            }

            a {
                display: block;
                font-weight: 400;
                font-size: 12px;
            }
        }
    }

    .variant-col {
        .form_txt {
            padding: 0px 60px;
        }
    }

    .form_txt {
        -webkit-appearance: none;
        cursor: pointer;
    }

    .product-nav {
        .pro-nav-ul {
            .slick-list {
                padding: 0px !important;
            }

            li {
                margin-bottom: 5px !important;

                a {
                    img {
                        width: 100%;
                        height: auto;
                        opacity: 0.3;
                    }
                }
            }

            .slick-current {
                img {
                    opacity: 1 !important;
                }
            }
        }
    }

    .product-sliderVar {
        .slick-dots {
            display: block !important;
            top: 50%;

            li {
                display: block;
                margin-left: auto;

                button {
                    margin: auto;
                }
            }
        }
    }

    .product-slider {
        .product-img {
            img {
                width: 100% !important;
            }
        }

        .slick-next {
            right: 10px;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 30px;

            &::before {
                content: "\f105";
                font-family: FontAwesome;
                font-size: 23px;
                line-height: 30px;
                color: $black;
            }
        }

        .slick-prev {
            left: 10px;
            z-index: 99;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 30px;

            &::before {
                content: "\f104";
                font-family: FontAwesome;
                font-size: 23px;
                line-height: 30px;
                color: $black;
            }
        }
    }

    .product-detail-content {
        .product-head {
            h4 {
                font-weight: 500;
            }

            p {
                font-size: 15px;
                margin-bottom: 5px;
            }

            .price-text {
                display: flex;
                align-items: center;
                justify-content: center;

                .price {
                    font-size: 20px;
                    font-weight: 400;
                }

                .review-pro {
                    .star-icon {
                        color: $indigo;
                    }
                }
            }

            border-bottom: 1px solid rgba($indigo, 0.1);
        }

        .product-info {
            label {
                font-weight: 500;
            }
        }

        .product-qty {
            label {
                font-weight: 500;
                padding-right: 5px;
            }

            .lable-cls {
                position: absolute !important;
                overflow: hidden;
                margin: -1px;
                padding: 0;
                border: 0;
                text-align: left;
                font-size: 14px;
                letter-spacing: 0.5px;
                right: 30px;
                top: 10px;
                z-index: 99999;

                i {
                    font-weight: bold;
                }
            }

            .form-control {
                border-radius: unset;

                &:focus {
                    border-color: unset;
                    box-shadow: unset;
                }
            }

            .inner {
                p {
                    font-size: 14px;
                }
            }

            .pro-qty-div {
                display: flex;
                align-items: center;

                .qty-btn {
                    border: 2px solid $indigo;
                    background: none;
                    height: 45px;
                    width: 40px;
                    font-size: 20px;
                    font-weight: 400;
                    color: $indigo;
                    outline: none;
                }

                .minus-btn {
                    border-right: none;
                }

                .plus-btn {
                    border-left: none;
                }

                .qty-input {
                    border: 2px solid $indigo;
                    border-left: none;
                    border-right: none;
                    background: none;
                    height: 45px;
                    width: 50px;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 45px;
                    color: $indigo;
                    outline: none;
                }
            }

            .pro-add-btn {
                .btn-all {
                    background: $indigo;
                    color: $black;
                    padding: 10px 30px;
                    width: 100%;
                    font-weight: 400;
                    outline: none;
                    border: 2px solid $indigo;
                    height: 45px;

                    &:hover {
                        background: $white;
                        border: 2px solid $white;
                    }
                }
            }
        }

        .payment-option {
            label {
                font-weight: 500;
            }

            .payment-ul {
                li {
                    display: inline-block;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }

                    a {
                        display: block;
                        font-size: 35px;
                        color: $indigo !important;
                    }

                    &:hover {
                        a {
                            color: $indigo !important;
                        }
                    }
                }
            }
        }
    }

    .nav-tabs {
        .nav-item {
            a {
                border: none !important;
                border-radius: 0;
                border-right: 1px solid $indigo !important;
            }

            &:last-child {
                a {
                    border-right: 0 !important;
                }
            }
        }
    }

    .tab-content {
        .product-description {
            font-size: 15px;
        }

        p {
            font-size: 14px;
        }

        .nav-tabs {
            border-bottom: 0;

            .nav-item {
                border-right: 1px solid #dee2e6;

                &:last-child {
                    border-right: none;
                }
            }

            .nav-link {
                border: none;
                color: #495057;

                &:hover {
                    border: none;
                }
            }

            .active {
                border: none;
                color: #000;
            }
        }
    }

    .product-info {
        h4 {
            padding: 10px 0;
            border-bottom: 1px solid rgba($purple, 0.2);
            margin-bottom: 30px;
        }

        .product-description {
            .accordion-title {
                h3 {
                    font-size: 1.5rem;
                }
            }

            .product-single__description {
                p {
                    font-size: 14px;
                }
            }
        }
    }

    .sticky-pos {
        position: sticky;
        top: 150px;
        padding: 30px;
    }

    .slide-md {
        padding-top: 30px;
        display: none;
    }

    .md-slide {
        display: none;
    }

    .lg-des {
        display: none;

        h3 {
            font-weight: 500;
        }

        .read-more-btn {
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
        }

        .product__description {
            height: 150px;
            overflow: hidden;
        }

        .rte {
            p {
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

.pro-slide {
    .image_box {
        position: relative;
        padding-bottom: 100%;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            width: 100%;
        }
    }
}

#product-select-new {
    position: absolute;
    width: 88%;
    background: white;
    z-index: 999;
    font-size: 14px;

    :focus {
        outline: none;
    }

    .bg-img {
        position: relative;

        .bg-variant {
            background: black;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            display: block;
            width: 25px;
            height: 25px;
            margin: 6px;
        }
    }
}

.product-info {
    h4 {
        padding: 10px 0;
        border-bottom: 1px solid rgba($indigo, 0.2);
        margin-bottom: 30px;
    }
}

ul.zg-ul-select {
    $blue: #0074d9;
    border-radius: none;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0;
    padding: 0;

    li {
        border-radius: none;
        display: none;
        padding: 0.5em;

        &.active {
            align-items: center;
            border: 1px solid #111;
            border-radius: none;
            box-shadow: 0 0 2px #aaa;
            color: #111;
            display: flex;
            justify-content: center;
            outline: none;
        }
    }

    &.active {
        border: 1px solid #aaa;

        li {
            border: none;
            box-shadow: none;
            display: block;

            &:hover {
                background: $blue;
            }
        }
    }
}

.bg-variant {
    background: black;
    width: 20px;
}

#selected--zg-ul-select {
    align-items: center;
    box-sizing: border-box;
    color: #111;
    display: flex;
    justify-content: space-between;
    width: auto;

    &.active {
        border: 1px solid #111;
        border-radius: none;
        box-shadow: 0 0 2px #aaa;
        padding: 0.5em;
        font-size: 14px;
    }
}

@media only screen and (max-width: 991px) {
    .product-detail-section {
        .md-slide {
            display: block;
        }

        .lg-des {
            display: block;
        }

        .form_txt {
            margin-bottom: 10px;
        }

        .nav-tabs {
            display: none;
        }

        .tab-content {
            display: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .product-detail-section {
        .product-detail-content {
            .product-head {
                .price-text {
                    .price {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .form_txt {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .lg-show {
        display: none !important;
    }
}