.related-product {
  .product-preview {
    .product-preview-image-div {
      position: relative;
      padding-bottom: 100%;
      margin-bottom: 20px;
      overflow: hidden;
      a {
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          max-width: 100%;
          width: 100%;
          height: auto;
          -o-object-fit: cover;
          object-fit: cover;
          transition: 0.7s;
        }
      }
    }
  }
}
