<div class="container my-4 addresses">
  {% paginate customer.addresses by 2 %}
  <div class="row py-2 align-items-end">
    <div class="col-lg-3 col-md-4 col-sm-12 col-12 text-lg-left text-md-left  text-center">
      <a href="/account" class="btn  banner-btn mb-lg-4 mb-md-3 mb-sm-2 mb-2">
        <i class="fa fa-arrow-left mr-lg-2 mr-0"></i>
        Account index
      </a>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 col-12 text-center">
      <h3 class="my-3 text-xl-center text-lg-center text-md-left text-center">Your Addresses </h3>
     
      <a href="#" data-toggle="collapse" data-target="#collapseAddressNew"
        class="btn banner-btn mb-4 text-lg-center text-md-right float-xl-none float-lg-none float-md-right float-none">
        <i class="fa fa-plus mr-lg-2 mr-0"></i>
        Add a New Address
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-12">
      <div class="list-group mb-3">
        <a href="/account" name="Order History" title="Order History" rel="nofollow" aria-label="Order History"
          class="list-group-item p-md-2"><i class="fa fa-calendar mr-2"> </i> Order History</a>
        <a href="/account/addresses" name="Your Addresses" title="Your Addresses" rel="nofollow"
          aria-label="Your Addresses" class="list-group-item p-md-2"><i class="fa fa-file mr-2"> </i> Your Addresses</a>
        <a href="/account/logout" name="Log out" title="Log out" rel="nofollow" aria-label="Log out"
          class="list-group-item p-md-2"><i class="fa fa-lock mr-2 "> </i> Log out</a>
      </div>
    </div>
    <div class="col-lg-9 col-md-12">
      <div id="collapseAddressNew" class="collapse show">
        <div class="card mb-4">
          {% form 'customer_address', customer.new_address %}
          {{ form.errors | default_errors }}
          <input type="hidden" name="form_type" value="customer_address">
          <input type="hidden" name="utf8" value="✓">
          <div class="card-header">
            Add a New Address
          </div>
          <div class="card-body">
            <div class="form-group input-group">
              <input placeholder="First Name" type="text" id="AddressFirstNameNew" name="address[first_name]" value=""
                autocapitalize="words" class="form-control my-2" required>
              <input placeholder="Last Name" type="text" id="AddressLastNameNew" name="address[last_name]" value=""
                autocapitalize="words" class="form-control  my-2" required>
            </div>
            <div class="form-group input-group">
              <input placeholder="Phone" type="tel" id="AddressPhoneNew" name="address[phone]" value=""
                pattern="[0-9\-]*" class="form-control" required>
              <input placeholder="Company" type="text" id="AddressCompanyNew" name="address[company]" value=""
                autocapitalize="words" class="form-control">
            </div>
            <div class="form-group input-group">
              <textarea placeholder="Address1" id="AddressAddress1New" name="address[address1]" value=""
                autocapitalize="words" class="form-control"  required></textarea>
              <textarea placeholder="Address2" id="AddressAddress2New" name="address[address2]" value=""
                autocapitalize="words" class="form-control"  required></textarea>
            </div>
            <div class="form-group input-group">
             
              <select placeholder="Country" id="AddressCountryNew" name="address[country]" data-default=""
                class="form-control select-control"  required>
                {{ country_option_tags }}
              </select>
            
              <div id="AddressProvinceContainerNew" style="display:none;">
                <select placeholder="Province" id="AddressProvinceNew" name="address[province]" data-default=""
                  class="form-control" >
                </select>
              </div>
            </div>
              <div class="form-group input-group">
               <input placeholder="City" type="text" id="AddressCityNew" name="address[city]" value=""
                autocapitalize="words" class="form-control"  required>
              <input placeholder="Postal Code" type="text" id="AddressZipNew" name="address[zip]" value=""
                autocapitalize="characters" class="form-control"  required>
            </div>
            <input type="checkbox" id="address_default_address_new" name="address[default]" value="1"  >
            <label for="address_default_address_new" class="text-capitalize ml-2 font-weight-light">Set as default address</label>
          </div>
          <div class="card-footer bg-white">
            <input type="submit" value="Add Address" class="btn banner-btn">
            <button type="button" data-toggle="collapse" data-target="#collapseAddressNew" aria-expanded="true"
              aria-controls="collapseExample" class="btn cnl">
              Cancel
            </button>
          </div>
          {% endform %}
        </div>
      </div>
      <div class="row">
        {% for address in customer.addresses %}
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card mb-4">
            <div class="card-body">
              <div class="card-title">
                <h5 class="d-inline-block">{{address['first_name']}}</h5>
                {% if address == customer.default_address %}<span
                  class="badge badge-pill badge-warning small">Default</span>{% endif %}
              </div>
              <div class="card-text">
                <p>{{ address | format_address }}</p>
              </div>
            </div>
            <div class="card-footer d-flex">
              <a href="#" data-toggle="collapse" data-edit-address="" data-target="#collapseAddressEdit-{{address.id}}"
                class="card-link link">Edit</a> <span class="mx-2">|</span>
              <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}"
                data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn card-link  p-0">
                  {{ 'customer.addresses.delete' | t }}
                </button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      {% for address in customer.addresses %}
      <div class="collapse  mb-4" id="collapseAddressEdit-{{address.id}}">

        {% form 'customer_address', address %}
        <div class="card">
          <div class="card-header">
            {{ 'customer.addresses.edit_address' | t }}
          </div>
          <div class="card-body">
            <div class="form-group input-group">
              <input type="text" name="address[first_name]" id="AddressFirstName_{{ form.id }}"
                value="{{ form.first_name }}" autocapitalize="words" class="form-control"
                placeholder="{{ 'customer.addresses.first_name' | t }}"  required>
              <input type="text" name="address[last_name]" id="AddressLastName_{{ form.id }}"
                value="{{ form.last_name }}" autocapitalize="words" class="form-control"
                placeholder=" {{ 'customer.addresses.last_name' | t }}"  required>
            </div>
            <div class="form-group input-group">
              <input type="tel" class="form-control" name="address[phone]" id="AddressPhone_{{ form.id }}"
                value="{{ form.phone }}" pattern="[0-9\-]*" placeholder=" {{ 'customer.addresses.phone' | t }}"  required>
              <input type="text" name="address[company]" id="AddressCompany_{{ form.id }}" value="{{ form.company }}"
                autocapitalize="words" class="form-control" placeholder=" {{ 'customer.addresses.company' | t }}">
            </div>
            <div class="form-group input-group">
              <textarea type="text" name="address[address1]" id="AddressAddress1_{{ form.id }}"
                value="{{ form.address1 }}" autocapitalize="words" class="form-control"
                placeholder=" {{ 'customer.addresses.address1' | t }}"  required>{{ form.address1 }}</textarea>
              <textarea type="text" class="form-control" name="address[address2]" id="AddressAddress2_{{ form.id }}"
                value="{{ form.address2 }}" autocapitalize="words"
                placeholder=" {{ 'customer.addresses.address2' | t }}"  required>{{ form.address2 }}</textarea>
            </div>
            <div class="form-group input-group">
             
              <select class="form-control select-control" placeholder=" {{ 'customer.addresses.country' | t }}"
                name="address[country]" id="AddressCountry_{{ form.id }}" class="address-country-option"
                data-form-id="{{ form.id }}" data-default="{{ form.country }}"  required>{{ country_option_tags }}
              </select>
              <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                <select class="form-control" name="address[province]" id="AddressProvince_{{ form.id }}"
                  data-default="{{ form.province }}" placeholder=" {{ 'customer.addresses.province' | t }}">
                </select>
              </div>
            </div>
            <div class="form-group input-group">
               <input type="text" class="form-control" name="address[city]" id="AddressCity_{{ form.id }}"
                value="{{ form.city }}" autocapitalize="words" placeholder=" {{ 'customer.addresses.city' | t }}"  required>
              <input type="text" class="form-control" name="address[zip]" id="AddressZip_{{ form.id }}"
                value="{{ form.zip }}" autocapitalize="characters" placeholder=" {{ 'customer.addresses.zip' | t }}"  required>
            </div>
            <input type="checkbox" id="address_default_address_{{address.id}}" name="address[default]"
              value="address[default]">
            <label for="address_default_address_new" class="text-capitalize ml-2 font-weight-light">Set as default address</label>
          </div>
          <div class="card-footer ">
            <button type="submit" class="btn banner-btn">{{ 'customer.addresses.update' | t }}</button>
            <button type="button" data-toggle="collapse" data-target="#collapseAddressEdit-{{address.id}}"
              aria-expanded="true" aria-controls="collapseExample" class="btn cnl">
              Cancel
            </button>
          </div>
        </div>
        {% endform %}
      </div>
      {%endfor%}
      {% if paginate.pages > 1 %}
      {% include 'pagination' %}
      {% endif %}
    </div>
  </div>



  {% endpaginate %}
</div>

<script>
  $(document).ready(function () {
    $(".link").click(function () {
      $(".collapse").collapse('hide');
    });
  });
</script>