<div class=" container">
  <div class="row">
    <div class="col-12">
      <div class="text-center py-4 bg-indigo">
      {% if settings.main_logo != blank %}
        <img src="{{ settings.main_logo | img_url: '400x' }}" class="img-fluid"
            alt="{{ shop.name | escape }}" style="width: {{ logo_width }}px" />
      {% endif %}
      </div>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-12 m-auto">
      <div class="text-center acc">
          <div class="form-group d-none" id="recover">
          <div  class="py-1" data-recover-form>
            <h1 class="py-4">{{ 'customer.recover_password.title' | t }}</h1>
            <p class="py-1">{{ 'customer.recover_password.subtext' | t }}</p>

            {% form 'recover_customer_password' %}
            {{ form.errors | default_errors }}

            {% if form.posted_successfully? %}
            <span class="hide" data-form-state></span>
            {% endif %}

            <input type="email" name="email" class="form-control" id="RecoverEmail"
              placeholder="{{ 'customer.recover_password.email' | t }}" spellcheck="false" autocomplete="off"
              autocapitalize="off" required>
            <p>
              <input type="submit" class="button banner-btn d-inline" value="{{ 'customer.recover_password.submit' | t }}">
            
              <button type="reset" data-recover-toggle class="banner-btn d-inline " id="cancel">
                {{ 'customer.recover_password.cancel' | t }}
              </button>
            </p>
            {% endform %}
          </div>
        </div>
        <div class="lgn" id="login-form">
          {% form 'customer_login' %}
          <h1 class="py-4">{{ 'customer.login.title' | t }}</h1>
          {{ form.errors | default_errors }}
          <div class="form-group" >
            <input type="email" class="form-control" name="customer[email]" id="CustomerEmail"
              class="{% if form.errors contains 'email' %}input-error{% endif %}"
              placeholder="{{ 'customer.login.email' | t }}" spellcheck="false" autocomplete="off" autocapitalize="off"
              autofocus required>

            <input type="password" class="form-control" name="customer[password]" id="CustomerPassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder="{{ 'customer.login.password' | t }}" required>
            <p>
              <input type="submit" class="button banner-btn" value="{{ 'customer.login.sign_in' | t }}">
            </p>
            <p>
              {% if form.password_needed %}
              <a href="#" id="forget" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
              {% endif %}
            </p>
            <p>
              <a href="/account/register">
                {{ 'layout.customer.create_account' | t }}
              </a>
            </p>
          </div>
          {% endform %}
        </div>
      
      </div>
    </div>
  </div>
</div>