.blogs-section {
  .blog-main-div {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba($indigo, 0.1);
    padding-top: 15px;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    .blog-title {
      font-size: 30px;

      a {
        color: $indigo;

        &:hover {
          color: $indigo;
        }
      }
    }

    .blog-img {
      width: 100%;
    }
  }

  .blog-popular-post {
    border: 1px solid $indigo;
    padding: 15px;

    h3 {
      margin-bottom: 15px;
      font-size: 25px;
    }

    .pop-blogs {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .blog-img {
        width: 100%;
        margin-bottom: 15px;
      }

      h5 {
        a {
          font-size: 17px;
          color: $indigo;

          &:hover {
            color: $indigo;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .blogs-section {
    .blog-main-div {
      .blog-title {
        font-size: 22px;
      }
    }

    .blog-popular-post {
      h3 {
        font-size: 18px;
      }

      .pop-blogs {
        h5 {
          a {
            font-size: 13px;
          }
        }
      }
    }
  }
}