.cart-section {
    padding: 30px 0;
    .cart-main-body {
        .product-option {
            font-size: 13px;
            font-style: italic;
            padding-bottom: 10px;
        }
        thead,
        tbody,
        th,
        td {
            white-space: nowrap;
            vertical-align: middle;
            border: none;
            font-weight: 300;
        }
        th {
            background: #5f5f61;
            color: #ffffff !important;
            font-weight: 500;
            padding: 8px;
            font-size: 14px;
        }
        tr {
            border-bottom: 1px solid #dee2e6
        }
        .qnt_txt {
            .product__qty {
                text-align: center;
                border-radius: 0;
                width: 60px;
                padding-left: 5px;
                padding-right: 5px;
                height: 36px;
                border: 1px solid #000 !important;
                border-left: unset !important;
                border-right: unset !important;
                &:focus{
                    box-shadow: unset;
                }
            }
            .qtyminus,
            .qtyplus {
                vertical-align: middle;
                border-radius: 0;
                text-align: center;
                width: 26px;
                height: 36px;
                padding: 0px;
                background: #fff;
                border: 1px solid #000;
                font-size: 18px;
                float: left;
                cursor: pointer;
                outline: none;
                font-weight: 200;
                &:focus{
                    box-shadow: unset;
                }
            }
        }
    }
    .btn-custom {
        border: 1px solid #dddddd;
        background: white;
        color: black !important;
        padding: 12px 15px;
    }
    .btn {
        border-radius: 0px !important;
    }
    .btn-update {
        background: #c29958;
        color: #ffffff !important;
        &:hover {
            background: white;
            color: black!important;
        }
    }
}

@media only screen and (max-width: 480px) {
    .cart-section {
        .btn-container {
            display: block !important;
            .btn {
                min-width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}