.newsletter-sec {
    .bg_image {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: auto;
        color: #fff;
        text-align: center !important;
        padding: 2.4em 0 !important;
    }

    .nl_title {
        line-height: 1.4;
        text-transform: none;
        font-weight: 400;
        margin-bottom: 0.5em;
        color: #000;
        margin: 0;
    }

    .nl_dec {
        font-size: 16px;
        color: black;
        margin-bottom: 2rem;
        margin-top: 6px;
    }

    .nl_form_btn {
        width: 50%;
    }

    .input-group {
        justify-content: center;
    }

    .form-control {
        flex: unset !important;
        width: 70%;
        border-radius: unset !important;
        border: none;

        &:focus {
            box-shadow: none;
            border: none;
        }
    }

    .input-join {
        border: 1px solid !important;
        border-right: none !important;
    }

    .input-group-text {
        border-radius: unset !important;
        background-color: $indigo;
        color: #fff;

        &:focus {
            outline: none;
        }
    }

    .input-group-append {
        display: block;
        width: 20%;
    }

    #mc_embed_signup_scroll {
        width: 100%;

        .mc-field-group {
            color: #000;
            width: 100%;

            input {
                border-radius: 0px;
            }
        }
    }

    #mc-embedded-subscribe-form {
        #mc-embedded-subscribe {
            background-color: #363636 !important;
            border-radius: 0px !important;
            height: 34px;
        }
    }
}