.img-w-txt {
  .tab_img {
    display: none;
  }

  .img-sec {
    .img_center {
      position: relative;
      z-index: 9;
      width: 60%;
      margin: 29px auto 50px;
      top: 30px;
    }

    .img_left {
      width: 27%;
      position: absolute;
      top: -15px;
      left: 20px;
    }

    .img_right {
      display: block;
      position: absolute;
      top: 60px;
      width: 84%;
      right: 0px;
      text-align: right;

      img {
        width: 29%;
      }
    }
  }

  .text-sec {
    h2 {
      color: $indigo;
    }
  }

  .btn-txt-left {
    margin-right: auto;
  }

  .btn-txt-right {
    margin-left: auto;
  }

  .img-text {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .animateme {
    transition-duration: 1.5s;
    transition-duration: 1s;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
  }

  .custom_inner {
    max-height: 348.83720930232556px;
    position: relative;
    display: block;
    text-align: left;
  }

  .main-div {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
  }

  .r-10 {
    right: 10%;
  }

  .l-10 {
    left: 10%;
  }
}

@media only screen and (max-width: 991px) {
  // .img-sec {
  //   img {
  //     left: -160px !important;
  //   }
  // }
}

@media only screen and (max-width: 576px) {
  .img-w-txt {
    .img_center {
      opacity: 0 !important;
    }

    .tab_img {
      width: 100%;
      display: block;
    }

    .img-sec {
      .img_left {
        width: 40%;
        ;
      }

      .img_right {
        width: 100%;
        right: 20px;

        img {
          width: 40%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  // .img-sec {
  //   padding-bottom: 66% !important;
  //   img {
  //     width: 100%;
  //     margin-right: 0 !important;
  //   }
  // }
  .btn-txt-left {
    margin: auto;
  }

  .btn-txt-right {
    margin: auto;
  }

  .img-text {
    position: unset !important;
  }

  .main-div {
    position: unset !important;
    text-align: center;
  }
}