.b-lr {
  border-left: 1px solid;
  border-right: 1px solid;
}

.b-t {
  border-top: 1px solid;
}

.b-b {
  border-bottom: 1px solid;
  box-shadow: 0px -5px 16px rgba(10, 10, 40, 0.5);
}

.slid-txt {
  p {
    font-size: 14px;
  }
}

.bg-color {
  background-color: rgba(10, 10, 40, 0.2);
}

.img-div {
  position: relative;
  padding: 30px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7%;
    width: 75%;
    height: 98%;
    background: $black;
    z-index: 0;
  }
}

.slider-image {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin-left: auto;

  &::after {
    content: "";
    padding-bottom: 70%;
    width: 100%;
    display: block;
  }

  img {
    position: absolute;
    top: 0%;
    bottom: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
    object-position: center;
    width: 80%;
  }
}

.slid-txt {
  width: 70%;

  .banner-btn {
    margin: unset;
  }
}

.slick-dots {
  display: flex !important;
  justify-content: flex-end !important;
  margin: 0;
  padding: 0 0;
  list-style-type: none;
  bottom: -50px !important;
  align-items: baseline;

  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 10px !important;
    height: 10px !important;
    padding: 3px !important;
    border: 2px solid #0a0a28 !important;
    border-radius: 100%;
    background-color: #626262;
    text-indent: -9999px;
    outline: none;
  }

  li.slick-active button {
    background-color: #0a0a28;
    width: 15px !important;
    height: 15px !important;
  }
}

.module-title {
  position: relative;
  text-align: center;
  margin: 40px 0;
}

@media only screen and (max-width: 767px) {
  .img-div {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
    }
  }

  .slid-txt {
    width: 95%;
    text-align: justify !important;
  }
}

@media only screen and (max-width: 575px) {
  .slider-image {
    margin: auto !important;

    &::after {
      padding: unset;
    }

    img {
      position: unset;
    }
  }

  .img-div {
    &::before {
      width: 100%;
    }
  }

  .slid-txt {
    text-align: center !important;

    .banner-btn {
      margin: auto;
    }
  }

  .slick-dots {
    justify-content: center !important;
  }
}