<section class="shop-banner-section">
  <div class="col-12 banner-div align-items-center">
    {% if section.settings.header_image != blank %}
      <img class="banner-img" src="{{ section.settings.header_image | img_url: '' }}" alt="About"> 
    {% endif %}
    {% if section.settings.header_text != blank %}
        <div class="container">
        <div class="row banner-content">
            <div class="col-12 text-center">
            <h2 style="color:{{section.settings.color_text}} !important;">{{ section.settings.header_text }}</h2>
            </div>
        </div>
        </div>
    {% endif %}
  </div>
</section>
<section class="about-section"> 
    <div class="container ">
        <div class="row page-content">
            <div class="col-11 col-xl-8 col-lg-8 col-md-10 m-auto">
            {{page.content}}
            </div>
        </div>
        {% if section.settings.video_url or section.settings.content_image %}
        <div class="row">
            <div class="col-12 image-video-wrapper text-center">
                {% if section.settings.image_video == "video" and section.settings.video_url != blank  %}
                     <video autoplay="1" loop="1" muted="" playsinline="1" height="auto" width="100%">
                            <source src="{{section.settings.video_url}}" type="video/mp4">
                    </video> 
                              {% elsif  section.settings.image_video == "image"  and section.settings.content_image != blank  %}
                    <div class="image-wrapper">
                        <img src="{{section.settings.content_image | img_url:'original'}}" class="img-fluid m-auto">
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% schema %}
{
"name": "About section",
"settings": [
{
"type": "header",
"content": "About Section"
},
{
"type":"text",
"id":"header_text",
"label":"Header Text"
},{
"type":"color",
"id":"color_text",
"label":"Header Color",
"default":"#fff"
},
{
"type":"image_picker",
"id":"header_image",
"label":"Header Image"
},
{
   "type":      "select",
   "id":        "image_video",
   "label":     "Choose Image Or Video",
   "options": [
     {
       "value": "image",
       "label": "Image"
     },
     {
       "value": "video",
       "label": "Video"
     }
   ],
   "default":   "image",
   "info":      "Image"
},
{
"type":"url",
"id":"video_url",
"label":"Video Url"
},
{
"type":"image_picker",
"id":"content_image",
"label":"Image"
}
],
"presets": [
  {
    "name": "About",
   "category": "Promotional"
  }
]
}
{% endschema %}