<section class="blogs-section">
    <div class="container">
        <div class="row pt-5">
            <div class="col-xl-9 col-lg-9 col-md-9">
                <div class="col-12 pl-xl-0 pl-lg-0 pl-md-0  blog-main-div">
                    <h1 class="blog-title mb-4">{{ article.title }}</h1>
                    <img class="blog-img" src="{{ article.image | img_url:'original' }}" alt="{{ article.title }}">

                    <div class="blog-content mt-4">
                        You could argue that cupping is perhaps one of the most bizarre wellness trends out there right
                                                now, mostly because of how strange the marks are. It makes it look like you got hugged by an
                                                aggressive octopus! The thing is, cupping isn’t just a trendy treatment or passing phase. The
                                                technique has deeply historic roots, and people have sworn by its ability to heal the body for
                                                centuries; it’s used to help with muscle pain, inflammation, blood flow, and can also be used
                                                for de-stressing, relaxation, and as a form of deep-tissue massage.
                        
                                                For the face, cupping has amazing anti-aging effects, not to mention it will help chisel your
                                                cheekbones and jawline! So, with expert help, we’re unpacking this weird practice and helping
                                                you determine if it’s worth trying out on your body or your face!
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 p-xl-0 p-lg-0 p-md-0 mt-xl-0 mt-lg-0 mt-md-0 mt-4">
                <div class=" blog-popular-post">
                    <div class="row">
                        {% if section.settings.title_text %}
                            <div class="col-12 text-center">
                                <h3>{{ section.settings.title_text }}</h3>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% for article in blogs.news.articles  %}
                            <div class="col-12 pop-blogs">
                                <img class="blog-img" src="{{ article.image | img_url:'original' }}" alt="">
                                <h5 class="mb-0">
                                    <a href="#">{{ article.title }}</a>
                                </h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% schema %}
{
"name": "blog section",
"settings": [
{
"type": "header",
"content": "Blog Section"
},
{
"type": "header",
"content": "Popular Post"
},
{
"type":"text",
"id": "title_text",
"label":"Text"
}
]
}
{% endschema %}