<section class="shop-banner-section">
  <div class="col-12 banner-div align-items-center">
    {% if section.settings.bg_image != blank %}
      <img class="banner-img" src="{{ section.settings.bg_image | img_url: '' }}" alt="{{ collection.title }}"> 
    {% endif %}
    <div class="container">
      <div class="row banner-content">
        <div class="col-12 text-center">
          <h2 class="text-uppercase">{{ collection.title }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "Banner collection",
"settings": [
{
"type": "image_picker",
"id": "bg_image",
"label": "Background image"
}
]
}
{% endschema %}