<section class="shop-banner-section">
  <div class="col-12 banner-div align-items-center">
    {%- for block in section.blocks -%}
    {%- if block.settings.collection == collection.handle -%}
        <img class="banner-img desk-img" src="{{ block.settings.bg_image_b | img_url: '' }}" alt="{{ shop.name }}">
           <img class="banner-img mobile-img" src="{{ block.settings.mb_image | img_url: '' }}" alt="{{ shop.name }}">
      {%- endif -%}
    {%- endfor -%}
    <div class="container">
      <div class="row banner-content">
        <div class="col-12 text-center">
          {% if section.settings.pyage_title != blank %}<h2 class="text-uppercase">{{ section.settings.page_title }}</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "Banner",
"settings": [
      {
        "type": "text",
        "id": "page_title",
        "label": "Title",
        "default": "collections"
      }
],
"blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
        "type": "image_picker",
        "id": "bg_image_b",
        "label": "Background Image"
      },
        {
        "type": "image_picker",
        "id": "mb_image",
        "label": "Mobile Image"
      }
      ]
    }
  ]
}
{% endschema %}