<div class="container py-xl-5 py-lg-5 py-md-5 py-sm-3 py-0 pb-3">
    <div class="row">
      <div class="col-12 text-center">
      <div class="module-title">
          <h3 class="mb-0 font-weight-normal">{{section.settings.top_header}}</h3>
          <p class="text-center font-weight-normal">{{section.settings.sub_hed}}</p>
        </div>
      </div>
    </div>
<div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 pr-0 img-div">
              <div class="img-slider">
                  {% for block in section.blocks %}
                  {% assign pro_img = block.settings.image_slid %}
                                <div class="slider-image">
                                 {% include 'responsive-image' with
                                    image: pro_img,
                                    max_width: 700,
                                    max_height: 800
                                  %}
                                  {% comment %} <img
                                      src="{{block.settings.image_slid | img_url:'original' }}"
                                      alt="#" 
                                      /> {% endcomment %}
                              </div>
                      {% endfor %}
              </div>
        </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12  m-auto">
                  <div class="pro-nav-ul">
                    {% for block in section.blocks %}
                              <div class="slid-txt py-4 m-auto  text-xl-left text-lg-left text-md-left text-center">
                                <div class="text-center">
                                    <h5>{{block.settings.heading_txt}}</h5>
                                    <p>{{block.settings.txt_dec}}</p>
                                </div>
                                {% if block.settings.btn_label != blank %}
                                  <a class="banner-btn btn-main m-auto" href="{{block.settings.btn_url}}">{{block.settings.btn_label}}</a>
                                {% endif %}
                              </div>
                    {% endfor %}
                  </div>
            </div>
</div>
</div>
{% schema %}
{
"name": "Bottom_slider",
"settings": [
  {
     "type": "text",
     "id": "top_header",
     "label": "Heading Text"
  },
  {
    "type": "text",
    "id": "sub_hed",
    "label": "Sub Heading"
    }
],
"blocks": [
    {
      "type": "social",
      "name": "bottom-slider",
      "settings": [ 
      {
        "type": "image_picker",
        "id": "image_slid",
        "label": " Slider Image"
      },
      {
          "type": "text",
          "id":"heading_txt",
          "label": "heading text"
        },
        {
          "type": "text",
          "id":"txt_dec",
          "label": "Text-description"
        },
        {
            "type": "text",
            "id":"btn_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id":"btn_url",
            "label": "Button url"
        }
      ]
    }
],
"presets": [
  {
    "name": "Bottom_slider",
   "category": "Promotional"
  }
]
}
{% endschema %}