<section class="cart-section">
    <div class="container">
        {% if cart.item_count > 0 %}
            {% if section.settings.page_title %}
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center mb-3">{{section.settings.page_title}}</h3>
                </div>
            </div>
            {% endif %}
            <form action="/cart" method="post" novalidate>
                <div class="row  my-1 mx-2 cart-main-body">
                <div class="table-responsive ">
                    <table class="table">
                    <thead>
                        <tr>
                        <th class="text-left">  {{ 'cart.label.product' | t }}</th>
                        <th>  {{ 'cart.label.price' | t }}</th>
                        <th>  {{ 'cart.label.quantity' | t }} </th>
                        <th  class="text-right">  {{ 'cart.label.total' | t}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items %}
                        <td>    
                        <div class="media">        
                            <img src="{{item.image | img_url :'100x100'}}" alt="{{item-title}}" class="d-flex mr-3">
                            <div class="media-body"> 
                                <a href="{{item.url}}">{{item.product.title}}</a>    
                                <div class="product-option">
                                    {% unless item.product.has_only_default_variant %}
                                        {% for i in (0..5) %}
                                        {% if item.product.options[i] != blank %}
                                            {% assign key = i | plus: 1 %}
                                            {% assign path = key | prepend:'option' %}
                                            {{ item.product.options[i] }} : {{ item.variant[path] | camelcase }}
                                        {% endif %}
                                        {% endfor %}
                                    {% endunless %}
                                    {%- assign property_size = item.properties | size -%}
                                    {% if property_size > 0 %}
                                        {% for p in item.properties %}
                                            {% unless p.last == blank %}
                                            {{ p.first }}:

                                            {% if p.last contains '/uploads/' %}
                                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                            {% else %}
                                            {{ p.last }}
                                            {% endif %}

                                            {% endunless %}
                                        {% endfor %}
                                    {% endif %}
                              
                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="d-block">
                                    <small><u>{{ 'cart.general.remove' | t }}</u></small>
                                </a>
                                </div>
                            </div>
                        </div>                         
                        </td>
                        <td>
                            {% if item.original_line_price != item.line_price %}
                            <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                            {{ item.price | money }}
                            <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                            <s>{{ item.original_price | money }}</s>
                            {% else %}
                            {{ item.price | money }}
                            {% endif %}
                        </td>
                        <td class="pr-div">
                            <div class="qnt_txt d-flex  align-items-center m-auto ">
                                <button id="get_id" class="btn qtyminus" data-item-id="{{item.id}}">-</button>
                                <input
                                    type="text"
                                    class="form-control product__qty text-center p-1 border-0"
                                    name="updates[]"
                                    id="updates_{{ item.key }}"
                                    value="{{ item.quantity }}"     
                                    min="1"
                                    pattern="[0-9]*"
                                />
                                <button id="get_id" class="btn qtyplus" data-item-id="{{item.id}}">+</button>
                                </div>
                            </td>
                            <td  class="text-right">
                                <div class="pro-price-{{item.id}}">{{ item.line_price | money }}</div>
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>   
                </div>
                </div> 
                <div class="row px-3">
                    <div class="col-12  text-xl-right text-lg-right text-md-right text-sm-right text-center">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-4   ml-xl-auto ml-lg-auto ml-md-auto ml-sm-suto ">
                                <p class="mb-2 font-weight-normal">{{ 'cart.general.subtotal' | t }} :
                                <span class="total-price pl-5">{{ cart.total_price | money }}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-12  ml-xl-auto ml-lg-auto ml-md-auto ml-sm-suto ">
                            <small class="font-italic font-weight-normal">{{ 'cart.general.shipping_at_checkout' | t }}</small>
                            </div>           
                        </div>
                        <div class="row mt-3">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-0 d-flex justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-sm-end justify-content-center btn-container">
                                    <div class="mx-2">
                                        <a class="btn banner-btn btn-custom" href="{{ shop.url }}">
                                            Continue Shopping</a>
                                    </div>

                                        {% comment %}<div class="mx-2">
                                            <input type="submit" name="update" class="btn banner-btn btn-custom btn-update" value="Update">
                                        </div>{% endcomment %}
                                        
                                    <div class="mx-2">
                                        <button type="submit" name="checkout"
                                        class="btn banner-btn">Proceed to {{ 'cart.general.checkout' | t }}</button>
                                    </div>   
                            </div>     
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
        <div class="row py-5">
            <div class="col-12 text-center pt-2">
                <div class="mb-5">
                    <h3>Your Shopping Cart Is Empty</h3>
                </div>
            </div>
            <div class="col-12  text-center">
                <div class="text-center">
                    <a class="btn banner-btn checkout-btn"  href="{{ shop.url }}">Continue Shopping</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
</section>
{% schema %}
{
"name": "Cart",
"settings": [
{
  "type": "text",
  "id": "page_title",
  "label": "Title",
  "default": "Your Shopping Bag"
}
]
}
{% endschema %}