{% paginate collection.products by 100 %}
    <section class="collection-shop-section product-section">
        <div class="container">
            {% comment %} <div class="row">
                <div class="col-12">
                  <ul class="bredcume-ul list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/collections">Shop</a></li>
                    <li><a href="#">{{ collection.title }}</a></li>
                  </ul>
                </div>
              </div> {% endcomment %}
            <div class="row mb-5">
                <div class="col-xl-7 col-lg-7 col-md-7  text-left">
                    <h3 class="text-uppercase mb-xl-0 mb-lg-0 mb-4 text-xl-left text-lg-left text-md-left text-center">{{ collection.title }}
                    </h3>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 text-xl-right text-lg-right text-md-right text-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="fillter-div">
                                <span>Sort by :</span>
                                {% include 'sortby-collection' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row product">
                {% for product in collection.products %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 text-center">
                        <div class="product-box">
                            <div class="product-img-box">
                                <a href="{{ product.url | within: collection}}">
                                    {% include 'responsive-image' with
                                    image: product.featured_image,
                                    max_width: 700,
                                    max_height: 800
                                  %}
                                </a>
                                <div class="hover-div">
                                    <div class="hover-btn-div">
                                           <a class="outline-btn btn-quick_View" title="Quick View" data-des="{{ product.url | within: collection }}"  data-toggle="modal" data-target="#exampleModal" ><i class="fa fa-eye"></i></a>
                                            <a class="outline-btn smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}" title="Add to Wishlist"></a>
                                            <a class="outline-btn" title="Add to Cart">
                                                {%- assign current_variant = product.selected_or_first_available_variant -%}
                                            <form action="/cart/add"
                                            method="post"
                                            enctype="multipart/form-data"
                                            data-cart-submit="data-cart-submit"
                                            data-product-id="{{ current_variant.id }}" class="add-cart-form w-100 h-100">
                                                <button class="rounded-circle w-100 h-100 border-0 cart-add" data-attr = "{{ current_variant.id }}" data-cart-add="{{ current_variant.id }}" type="submit"><i class="fa fa-shopping-bag"></i></button>
                                            </form>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <span class="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}"></span> {% endcomment %}
                            <div class="product-content">
                                <a href="{{ product.url | within: collection }}" class="">
                                        <h5>{{ product.title }}</h5>
                                {% include 'okendo-reviews-product-rating-summary' %}
                                <p class="pro-price">{{ product.price |  money }}</p>

                                </a>
                                {% comment %}
                                <p class="price-text mb-3">{{ product.price | money }}</p>
                                 <form action="/cart/add" method="post">
                                    <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                                    <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
                                    <button class="banner-btn btn-main btn-sm border-0 m-auto" type="submit">Add to cart</button>
                                </form> {% endcomment %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% comment %} {% if paginate.next %}
                    <div class="col-12" id="more">
                        <p>
                            <a href="{{ paginate.next.url }}" class="btn-show-more m-auto">Show More</a>
                        </p>
                    </div>
                {% endif %} {% endcomment %}
            </div>
            {% comment %} <div class="row">
      <div class="col-12 text-center mt-3">
        <a class="btn-show-more m-auto">Show More</a>
      </div>
    </div> {% endcomment %}
        </div>
    </section>
{% endpaginate %}

{% include 'quikview' %}

{% schema %}
{
"name": "Collection Shop Section",
"settings": [
]
}
{% endschema %}