{%- comment -%}
This is a required section for the Shopify Theme Store.
It is available when you add "Collection list" section in the Theme Editor.

Theme Store required settings
- Heading: title of the collection list section
- Collection
{%- endcomment -%}
<section class="collection-list">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center mb-5">{{ section.settings.Col_title }}</h3>
        </div>
      </div>
    <div class="row">
    {% for collection in collections %}
      <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 sm-div-none text-center">
        <div class="collection-box">
          <div class="collection-img-box">
            <a href="{{ collection.url }}">
            <img src="{{ collection.image | img_url:'original'}}"
                alt="{{ collection.title }}"></a>
                    <p><a href="{{ collection.url }}">
                    {{ collection.title }}
                    </a></p>
                </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
"name": "collection list",
  "settings": [
      {
        "type": "text",
        "id": "Col_title",
        "label": "Title"
      }
  ], 
   "presets": [
      {
        "name": "Collection List",
       "category": "Promotional"
      }
    ]
}
{% endschema %}