{% if section.settings.enable_section %}
<section class="py-5">
    <div class="container">
        {% if section.settings.title != blank %}
        <div class="row">
            <div class="col-12 col-md-6 col-lg-7 ml-auto text-left pb-3">
                <h1 class="title mb-3 text-uppercase">{{ section.settings.title }}</h1>
            </div>
        </div>
        {% endif %}
        <div class="row">
            
            <div class="col-12 col-md-6 col-lg-5 ms-order contact-form">
                <div>
                    {% if section.settings.sidebar_title != blank %}
                    <h5 class="text-uppercase font-weight-bold">{{ section.settings.sidebar_title }}</h5>
                    {% endif %}
                    {% if section.settings.sidebar_address != blank %}
                    <span class="d-flex align-items-center mb-2">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p class="pl-2 m-0">{{ section.settings.sidebar_address }}</p>
                    </span>
                    {% endif %}
                    {% if section.settings.sidebar_contactno != blank %}
                    <span class="d-flex align-items-center mb-2">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p class="pl-2 m-0">{{ section.settings.sidebar_contactno }}</p>
                    </span>
                    {% endif %}
                    {% if section.settings.sidebar_email != blank %}
                    <span class="d-flex align-items-center mb-2">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p class="pl-2 m-0">{{ section.settings.sidebar_email }}</p>
                    </span>
                    {% endif %}
                </div>
                <div class="mt-5">
                    {% if section.settings.detail_title != blank %}
                    <h5 class="text-uppercase font-weight-bold">{{ section.settings.detail_title }}</h5>
                    {% endif %}
                    {% if section.settings.detail_subtitle != blank %}
                    <p class="mb-0">{{ section.settings.detail_subtitle }}</p>
                    {% endif %}
                </div>
            </div>
            
            <div class="col-12 col-md-6 col-lg-7 m-auto msp-order acc">
                {% form 'customer', id: 'contact-form' %}
                <div class="form-group input-form mb-0">
                    <div class="input-form">
                        <input class="form-control" id="exampleFormControlInput1" name="contact[name]"
                            placeholder="Name" type="text">
                    </div>
                    <div class="input-form">
                        <input class="form-control" id="inputEmail4" name="contact[email]" placeholder="Email"
                            type="email">
                    </div>
                    <div class="input-form">
                        <input class="form-control" id="contact-no" name="contact[contact-no]"
                            placeholder="Phone Number" type="text">
                    </div>
                    <div class="contact-form input-form">
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="contact[Message]"
                            placeholder="Message" rows="4"></textarea>
                    </div>
                    <div class="input-form mb-0">
                        <button class="banner-btn btn-main frm-btn" type="Submit">Send</button>
                    </div>
                </div>
                {% endform %}
                {% comment %}
                <div class="row mt-5">
                    <!-- <div class="col-12">
                        <h4>Stockits</h4>
                    </div> -->
                    <div class="col-xl-6 col-lg-6 mb-4">
                        <div class="stockits-box">
                            <div class="stock-head mb-5">
                                {% if section.settings.stckist_head_1 %}
                                <h5 class="text-uppercase">{{ section.settings.stckist_head_1}}</h5>
                                {% endif %}
                                {% if section.settings.stckist_city_1 %}
                                <p class="text-white text-uppercase">{{ section.settings.stckist_city_1 }}</p>
                                {% endif %}
                            </div>
                            <h5 class="text-uppercase">{{ section.settings.stckist_subhead_1 }}</h5>
                            <p>{{ section.settings.stckist_address_1 }}</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="stockits-box">
                            <div class="stock-head mb-5">
                                {% if section.settings.stckist_head_2 %}
                                <h5 class="text-uppercase">{{ section.settings.stckist_head_2 }}</h5>
                                {% endif %}
                                {% if section.settings.stckist_city_2 %}
                                <p class="text-white text-uppercase">{{ section.settings.stckist_city_2 }}</p>
                                {% endif %}
                            </div>
                            <h5 class="text-uppercase">{{ section.settings.stckist_subhead_2 }}</h5>
                            <a href="{{ section.settings.stckist_address_url }}">
                                <p>{{ section.settings.stckist_address_2 }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% schema %}
{
"name": "Contact us",
"settings": [
{
"type": "checkbox",
"id": "enable_section",
"label": "Enable Section?"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "SHOP OUR INSTAGRAM"
},
{
"type": "header",
"content": "Sidebar"
},
{
"type": "text",
"id": "sidebar_title",
"label": "Title",
"default": "VISIT OUR CLUB"
},
{
"type": "textarea",
"id": "sidebar_address",
"label": "Address",
"default": "100 Biscayne Blvd, Florida 33148"
},
{
"type": "textarea",
"id": "sidebar_contactno",
"label": "Contact No.",
"default": "(305) 555-4446"
},
{
"type": "textarea",
"id": "sidebar_email",
"label": "Email",
"default": "spam@unitedtheme.com"
},
{
"type": "header",
"content": "Get in Touch"
},
{
"type": "text",
"id": "detail_title",
"label": "Title",
"default": "GET IN TOUCH"
},
{
"type": "textarea",
"id": "detail_subtitle",
"label": "Content",
"default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut."
},
{
"type":"header",
"content":"Stockist Text 1"
},
{
"type":"text",
"id":"stckist_head_1",
"label":"Head Text"
},
{
"type":"text",
"id":"stckist_city_1",
"label":"Add Text"
},
{
"type":"text",
"id":"stckist_subhead_1",
"label":"Sub Head"
},
{
"type":"text",
"id":"stckist_address_1",
"label":"Add Address"
},
{
"type":"header",
"content":"Stockist Text 2"
},
{
"type":"text",
"id":"stckist_head_2",
"label":"Head Text"
},
{
"type":"text",
"id":"stckist_city_2",
"label":"Add Text"
},
{
"type":"text",
"id":"stckist_subhead_2",
"label":"Sub Head"
},
{
"type": "url",
"id": "stckist_address_url",
"label": "Add URL"
},
{
"type":"text",
"id":"stckist_address_2",
"label":"Add Address"
}
]
}
{% endschema %}