<div class="container">
  <div class="row">
    <div class="col-12">
    <div class="title mb-4 pt-3">
        <h1 class="text-center">FAQs</h1>
      </div>
      <div class="contect">
      <div class="qen">
      <p>Q: What method is used for shipping?</p>
      <p>
        <span
          >A: We currently utilize USPS (United States Postal Service) to ship
          Domestically and Internationally.
        </span>
      </p>
      </div>
      <div class="qen">
      <p>Q: What are your hours of operation?</p>
      <p><span>A: Monday-Friday | 10am-4pm</span></p>
      </div>
      <div class="qen">
      <p>Q: May I return my Mystery Gold Bags?</p>
      <p><span>A: No love. All sales are final. </span></p>
      </div>
      <div class="qen">
      <p>Q: What is inside our Glitter Lip Kits?</p>
      <p>
        <span
          >A: A Gloss Bond, Holo-Cosmetic Grade Glitter and an Applicator.</span
        >
      </p>
      </div>
      <div class="qen">
      <p>Q: When will my order ship?</p>
      <p>
        <span
          >A: When stocked, we usually ship a day or two after receiving the
          order. HOWEVER, if we receive a substantial high increase in sales,
          this process may be delayed. Back Orders tend to ship 3-10 business
          days after order is received. Again, this can be delayed when we
          receive a substantial high increase in sales.</span
        >
      </p>
      </div>
      <div class="qen">
      <p>Q: Will I get Tracking Details?</p>
      <p>
        <span
          >A: Domestic (United States) - Once your order has been shipped, you
          will receive a shipping confirmation via email with a tracking number.
          Internationally – We use USPS First Class Mail. Normally, you will
          receive a Customs Number. This is not considered a tracking number but
          will be used as your reference number when retrieving your
          package.</span
        >
      </p>
      </div>
        <div class="qen">
      <p>Q: How long does Shipping Take?</p>
      <p>
        <span
          >A: Domestic- USPS Priority generally takes 1-3 business day. First
          Class Mail takes 5-7 business days. Please note that USPS do not
          guarantee these time frames. The only guaranteed shipping time frame
          is Express Mail/Overnight.</span
        ><br /><br /><span           >International- USPS First Class Mail may take anywhere from 10-20
          business days. Again, these are estimates. Time frame can be longer
          due to many components. We appreciate your patience.</span
        >
      </p>
      </div>
        <div class="qen">
      <p>Q: My package was marked as delivered, but I didn’t receive it?</p>
      <p>
        <span
          >A: At times, this is mistake and is usually sorted in a few days.
          Most likely, you will receive it in a few days. It is always best to
          be pro-active and reach out to your local post office if this happens
          to you.</span
        >
      </p>
      </div>
        <div class="qen">
      <p>Q: My item arrived damage. What should I do?</p>
      <p>
        <span
          >A: If you received damaged merchandise, please contact us as soon as
          possible.</span
        >
      </p>
      </div>
        <div class="qen">
      <p>Q: Is the Lip Kit really water proof?</p>
      <p>
        <span
          >A: Yes, it is water proof, kiss proof, and turn up proof. Let’s just
          say we practiced what we preach.</span
        >
      </p>
      </div>
      <div class="qen">
      <p>Q: Does your company test on animals?</p>
      <p>
        <span
          >A: We love animals! We are a cruelty-free brand (pats pet dog—his
          name is Rufus). We are more likely to test on ourselves.</span
        >
      </p>
      </div>
        <div class="qen">
      <p>Q: How do I know when an item will be restocked online?</p>
      <p><span>A: Join our Mailing List love.</span></p>
      </div>
      <div class="qen">
      <p>Q:  Can I change my order?</p>
      <p>
        <span
          >A: We will always try our best, but we can’t guarantee. Try to email
          us within an hour of ordering.</span
        >
      </p>
      </div>
        <div class="qen">
      <p>Q:  Do you offer returns?</p>
      <p><span>A: Only on damaged items love.</span></p>
      </div>
      <div class="qen">
      <p>Q: I have not received my order confirmation, what should I do?</p>
      <p>
        <span
          >A: Please try searching your spam folders. Otherwise,
          <a
            href="https://staygoldencosmetics.myshopify.com/pages/contact-us"
            title="Contact Us"
            style="color: #d4af37;"
            >contact us</a
          >.</span
        >
      </p>
      </div>
      </div>
    </div>
  </div>
</div>
