<footer class="footer">
  <div class="container footer-top py-3">
  {% comment %} <div class="row">
    
  </div> {% endcomment %}
    <div class="row py-4">
      {% comment %} <div
        class="col-xl-4 col-lg-4 col-md-4 col-sm-7 col-12 ml-auto mr-auto mb-xl-0 mb-lg-0 mb-md-0 mb-4 d-xl-block d-lg-block d-md-block d-sm-block d-none">
        <div class="footer-logo-div">
          {% if section.settings.widget_logo %}
          <img class="mb-2" src="{{ section.settings.widget_logo | img_url: '300x' }}" alt="{{ shop.name }}" />
          {% endif %}
          {% if section.settings.widget_details_1 %}
          <p class="mb-0">{{ section.settings.widget_details_1 }}</p>
          {% endif %}
        </div> 
      </div> {% endcomment %}
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12  m-auto text-center pb-4">
      <div class="footer_img">
        <img src="{{section.settings.footer_logo | img_url: 'original'}}" alt="{{shop.name}}">
      </div>
    </div>
      <div class="col-xl-12">
        <div class="footer-link-div row">
          <div class="col-xl-11 col-lg-12 col-md-6 col-sm-12 col-12 mb-xl-0 mb-lg-0 mb-md-0 mb-4 m-auto link-foot justify-content-center">
            {% if section.settings.widget_title_2 %}<h3 class="my-2 col-xl-2 co-lg-2 text-uppercase">
              {{ section.settings.widget_title_2 }}</h3>
            {% endif %}
            {% assign menu_1 = linklists[section.settings.widget_nav_2] %}
            <ul class="mb-0 footer-ul list-unstyled">
              {% for link in menu_1.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% if section.settings.enable_social_links %}
      <div class="col-12 m-auto text-center">
        <div class="social-links mt-4">
          <!-- <p class="mb-3">Follow Us On:</p> -->
          <ul class="mb-0 social-ul list-unstyled">
            {% for block in section.blocks %}
            {% if block.settings.link_name == 'youtube' %}
              <li><a href="{{ block.settings.link_url }}"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
               {% else %}  
              <li><a href="{{ block.settings.link_url }}"><i class="fa fa-{{block.settings.link_name}}" aria-hidden="true"></i></a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid footer-bottom">
    <div class="col-12 text-center py-3">
      {% if section.settings.copyright_text %}<p class="mb-0">{{ section.settings.copyright_text }}</p>{% endif %}
    </div>
  </div>
  </div>
</footer>

{% schema %}
{
"name": "Footer",
"settings": [ 
{
"type": "header",
"content": "Footer widget 1"
},
 { 
    "type":"image_picker",
    "id":"footer_logo",
    "label":"Footer Logo"
  },
{
"type": "link_list",
"id": "widget_nav_2",
"label": "Navigation"
},
{
  "type": "header",
  "content": "Social Links"
},
{
  "type": "checkbox",
  "id": "enable_social_links",
  "label": "Enable Social Links?"
},
{
"type": "text",
"id": "copyright_text",
"label": "Copyright Text",
"default": "© Copiright Dao Fournier"
}
],
"blocks": [
    {
      "type": "social",
      "name": "Url Content",
      "settings": [
        {
          "type": "text",
          "id":"link_name",
          "label": "Icon Title"
        },
        {
          "type": "url",
          "id":"link_url",
          "label": "URL"
        }
      ]
    }
]
}
{% endschema %}