{% assign template_type = section.settings.template_type %}
{% assign homepage_transparent_header = section.settings.homepage_transparent_header %}
{% assign logo = settings.main_logo | img_url: '200x' %}
{% assign logo_light = settings.main_logo_light | img_url: '200x' %}
{% assign logo_width = settings.logo_max_width %}

{% if section.settings.topbar_enabled %}
<div class="topbar d-block" data-top-bar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 annucement-bar py-2 text-center"
        style="font-size: {{ section.settings.topbar_font_size}}rem !important; background-color: {{ section.settings.topbar_bg_color }} !important;color:{{section.settings.topbar_text_color}} !important">
        <p class="mb-0 font-weight-normal">{{ section.settings.topbar_text }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<header class="site-header header {% if homepage_transparent_header %}header-transparent{% endif %} " data-site-header
  data-section-id="{{ section.id }}" data-transparent-header="{{ homepage_transparent_header }}">

  {% comment%}
  {% if section.settings.is_sticky %}fixed-top{% endif %}
  data-fixed-header="{% if section.settings.is_sticky%}true{% else %}false{% endif %}"
  {% endcomment %}

  {% include 'navbar-default' %}

</header>

{% schema %}
{ 
   "name":"Header",
   "settings":[
      { 
         "type":"header",
         "content":"Template"
      },
      { 
         "type":"header",
         "content":"Layout"
      },
      { 
         "type":"checkbox",
         "id":"fluid_header",
         "label":"Full Width Header?",
         "default":false
      },
      { 
         "type":"checkbox",
         "id":"is_sticky",
         "label":"Sticky Header?",
         "default":false
      },
      { 
         "type":"header",
         "content":"Styling"
      },
      { 
         "type":"checkbox",
         "id":"homepage_transparent_header",
         "label":"Transparent Header at Homepage?",
         "default":false
      },
      { 
         "type":"header",
         "content":"Menu"
      },
      { 
         "type":"link_list",
         "id":"main_linklist",
         "label":"Select Menu",
         "default":"main-menu"
      },
      { 
         "type":"header",
         "content":"Top Bar"
      },
      { 
         "type":"checkbox",
         "id":"topbar_enabled",
         "label":"Enabled?",
         "default":false
      },
      { 
         "type":"html",
         "id":"topbar_text",
         "label":"Message"
      },
      { 
         "type":"color",
         "id":"topbar_bg_color",
         "label":"Background Color",
         "default":"#000000"
      },
      { 
         "type":"color",
         "id":"topbar_text_color",
         "label":"Text Color",
         "default":"#ffffff"
      },
      { 
         "type":"range",
         "id":"topbar_height",
         "label":"Minimum Height",
         "min":20,
         "max":100,
         "step":1,
         "unit":"px",
         "default":40
      },
      { 
         "type":"range",
         "id":"topbar_font_size",
         "min":1,
         "max":3,
         "step":0.1,
         "unit":"rem",
         "label":"Font Size",
         "default":1
      }
   ],
   "blocks":[
   { 
      "type":"header",
      "name":"Mega_image",
      "limit":5,
      "settings":[ 
         { 
            "type":"text",
            "id":"menu_handle",
            "label":"Menu Handle"
         },
         { 
            "type":"image_picker",
            "id":"image-menu",
            "label":"Image Menu"
         },
         { 
            "type":"text",
            "id":"text_title",
            "label":"Image Text"
         }
      ]
   }
]
}
{% endschema %}

{% javascript %}
{% endjavascript %}