<div class="container my-5 img-w-txt">
  <div class="row scrollme">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <img class="tab_img" src="{{ section.settings.image_center | img_url:'original'}}" alt="#">
      <div class="img-sec animateme text-center"
      data-easing="easeinout" data-when="enter" data-from="0.8" data-to="0" data-translatey="230" data-translatex="0" data-opacity="0"
      >
          <img class="img_center" src="{{ section.settings.image_center | img_url:'original'}}" alt="#">
          <div class="img_left animateme"
          data-easing="easeinout" data-when="span" data-from="0.8" data-to="0" data-translatey="300" data-translatex="0" data-translatez="0" data-opacity="0"
          >
            <img class="w-100" src="{{ section.settings.image_left | img_url:'original'}}" alt="#">
          </div>
          <div class="img_right animateme"
              data-easing="easeinout" data-when="span" data-from="0.8" data-to="0" data-translatey="300" data-translatex="0" data-translatez="0" data-opacity="0"
          >
            <img src="{{ section.settings.image_right | img_url:'original'}}" alt="#">
          </div>
      </div>
    </div>
    </div>
    <div class="row">
      {% if section.settings.btn_text %}
      <div class="col-12 col-lg-12 col-xl-12 col-md-12 col-sm-12 m-auto text-center py-3">
        <a class="btn-banner" href="#">{{section.settings.btn_text}}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Image and text",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_left",
        "label": "Image Left"
      },
      {
        "type": "image_picker",
        "id": "image_center",
        "label": "Image center"
      },
      {
        "type": "image_picker",
        "id": "image_right",
        "label": "Image Right"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
       "category": "Promotional"
      }
    ]
  }
{% endschema %}
