<section class="index-collection">
    <div class="container">
    {% if section.settings.Col-title != blank %}
    <div class="row py-5">
      <div class="col-12">
        <h3 class="text-center mb-0 font-weight-normal">{{ section.settings.Col-title }}</h3>
        <p class="text-center font-weight-normal">{{section.settings.sub-title}}</p>
      </div>
    </div>
    {% endif %}
    <div class="row py-5">
    {% for block in section.blocks %}
        {% assign collection = collections[block.settings.featured_collection] %}
        {% if collection != blank %}
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 sm-div-none text-center">
            <div class="collection-box">
              <div class="collection-img-box">
                <a href="{{ collection.url }}">
                {% if block.settings.coll_image != blank %}
                  <img src="{{ block.settings.coll_image | img_url:'1920x'}}"
                      alt="{{ collection.title }}">
                {% else if  collection.image != blank  %}
                  <img src="{{ collection.image | img_url:'1920x'}}"
                      alt="{{ collection.title }}">
                {% endif %}
                </a>
              <p>
                  <a href="{{ collection.url }}">
                    {% if block.settings.coll_title != blank %}
                    {{block.settings.coll_title}}
                    {% else %}
                    {{ collection.title }}
                    {% endif %}
                  </a>
                </p>
                </span>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    </div>
</section>
{% schema %}
{
"name": "Index-collection",
  "settings": [
      {
        "type": "text",
        "id": "Col-title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Sub Title"
      }
  ],
  "blocks":[
      {
        "type":"collection",
        "name":"Collection Block",
        "settings":
          [
            {
            "type":"collection",
            "id":"featured_collection",
            "label":"collection"
            },
            {
            "type":"image_picker",
            "id":"coll_image",
            "label":"Collection Image"
            },
            {
            "type":"text",
            "id":"coll_title",
            "label":"Collection Title"
            }
          ]
      }
  ] ,
   "presets": [
      {
        "name": "Collection List",
        "category": "INDEX"
      }
    ]
}
{% endschema %}