{% if section.settings.enable %}
<section class="join-party-section">
    {% if section.settings.bg_image %}
    <img class="bg-img" src="{{ section.settings.bg_image | img_url:'1920x' }}" alt="{{ shop.name }}">
    {% endif %}
    <div class="container">
        <div class="row align-items-center">
            {% if section.settings.block_image != blank %}
            <div
                class="col-xl-6 col-lg-6 col-md-6 text-center order-xl-1 order-lg-1 order-md-1 order-2 d-xl-block d-lg-block d-md-block d-none">
                <div class="join-party-img">
                    <img class="img-fluid" src="{{ section.settings.block_image | img_url:'original' }}"
                        alt="newsletter - {{ shop.name }}" />
                </div>
            </div>
            {% endif %}
            <div
                class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-12 m-auto text-center order-xl-2 order-lg-2 order-md-2 order-1">
                <div class="join-party-content">
                    {% if section.settings.section_title != blank %}
                    <h3 class="text-uppercase">{{ section.settings.section_title }}</h3>
                    {% endif %}
                    {% if section.settings.subtitle %}
                    <p class="mb-4">{{ section.settings.subtitle }}</p>
                    {% endif %}
                    {% comment %}
                    {% if section.settings.subtitle != blank %}
                    <p class="mb-4">{{ section.settings.subtitle }}</p>
                    {% endif %}
                    {% endcomment %}
                    {% include 'footer-newsletter' %}
                    {% comment %} <input class="text-center input-join p-2 mb-4" type="text"
                        placeholder="Enter Your Email" />
                    <button class="subscribe-btn text-uppercase" type="submit">subscribe</button> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Newsletter BLock",
"class": "index-newsletter-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable"
},
{
"type": "image_picker",
"id": "bg_image",
"label": "Background image"
},
{
"type": "image_picker",
"id": "block_image",
"label": "Block image"
},
{
"type": "textarea",
"id": "section_title",
"label": "heading"
},
{
"type": "textarea",
"id": "subtitle",
"label": "Sub Heading"
},
{
"type": "header",
"content": "MailChimp"
},
{
"type": "textarea",
"id": "mailchimp_url",
"label": "MailChimp Url",
"default": "https://tobegolden.us14.list-manage.com/subscribe/post-json?u=c7405f962e5f7d406e3c4cb95&id=2e2c649c52"
}
],
"presets": [
{
"name": "Newsletter Block",
"category": "Newsletter"
}
]
}
{% endschema %}