{% if section.settings.enable %}
<section class="testimonial-section">
    <div class="bg-image">
        <div class="container">
    {% comment %}  style="background-image: url('{{ section.settings.bg_image | img_url:'1920x' }}'); {% endcomment %}
        {% if section.settings.page_title %}
        <div class="col-12 text-center">
            <div class="main-title" style="background-image:url({{ section.settings.title_image | img_url:'original' }});">
                <h3 class="text-uppercase text-center text-dark">{{ section.settings.page_title }}</h3>
                <p class="mb-3">{{ section.settings.subtitle }}</p>
            </div>
        </div>
        {% endif %}
        <div class="row testimonial-box">
            {% comment %} <div class="col-xl-3 col-lg-3 text-center">
                <div class="col-12 testi-left-div">
                    <img class="quotes-img"
                        src="https://cdn.shopify.com/s/files/1/1990/5397/files/testimonial-quotes.png?3205" alt="">

                    {% if section.settings.image_1 %}
                    <div class="cricle-left cricle-div">
                        <div class="ani-circle"></div>
                        <img src="{{ section.settings.image_1 | img_url:'300x' }}" alt="">
                    </div>
                    {% endif %}
                </div>
            </div> {% endcomment %}
            {% if section.blocks.size > 0 %}
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 text-center m-auto">
                <div class="testimonial-slide">
                    {% for block in section.blocks %}
                    <div class="testi-main-box">
                            {% if block.settings.author_image != blank %}
                            <div class="m-auto text-center">
                            <img src="{{block.settings.author_image | img_url:'small' }}" class="img-fluid rounded-circle mx-auto my-2"   alt="{{ block.settings.author_name }}">
                            </div>
                            {% endif %}
                        <div class="testi-content-div">
                           
                            {% if block.settings.review != blank %}
                            <p class="mb-0">“ {{ block.settings.review }}”</p>
                            {% endif %}
                            {% if block.settings.author_name != blank %}
                            <h5 class="text-uppercase mb-4">{{ block.settings.author_name }}</h5>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% comment %} <div class="col-xl-3 col-lg-3 text-center">
                <div class="col-12 testi-right-div">
                    {% if section.settings.image_2 %}
                    <div class="cricle-left cricle-div">
                        <div class="ani-circle"></div>
                        <img src="{{ section.settings.image_2 | img_url:'300x' }}" alt="">
                    </div>
                    {% endif %}
                    <img class="quotes-img"
                        src="https://cdn.shopify.com/s/files/1/1990/5397/files/testimonial-quotes-2.png?3205" alt="">
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
</section>
{% endif %}

{% schema %}
{ 
   "name":"Testimonial Section",
   "settings":[ 
      { 
         "type":"checkbox",
         "id":"enable",
         "label":"Enable"
      },
      { 
         "type":"text",
         "id":"page_title",
         "label":"Heading"
      },
      { 
         "type":"text",
         "id":"subtitle",
         "label":"Sub Heading"
      },
      { 
         "type":"image_picker",
         "id":"title_image",
         "label":"Image title"
      }
   ],
   "blocks":[ 
      { 
         "type":"image",
         "name":"Review Block",
         "settings":[ 
            { 
               "type":"text",
               "id":"author_name",
               "label":"Name"
            },
            { 
               "type":"textarea",
               "id":"review",
               "label":"Review"
            }
         ]
      }
   ],
   "presets":[ 
      { 
         "name":"Testimonials",
         "category":"Testimonial"
      }
   ]
}
{% endschema %}