<div class="container py-xl-5 py-lg-5 py-md-5 pt-sm-5 py-3 pt-4">
    <div class="row">
    <div class="col-12 text-center">
        <h3 class="mb-xl-5 mb-lg-5 mb-md-5 mb-sm-3 mb-3">{{section.settings.top_header}}</h3>
    </div>
    {% for block in section.blocks %}
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4 py-3">
            <div class="product-img">
            <div class="product-list"></div>
                <img src="{{ block.settings.image_insta | img_url:'198X198' }}" alt="#">
            </div>
        </div>    
    {% endfor %}
    </div>
</div>
{% schema %}
{
"name": "Instagaram Section",
"settings": [
  {
     "type": "text",
        "id": "top_header",
        "label": "Heading Text"
  }
],
"blocks": [
    {
      "type": "Instagaram",
      "name": "Instagram-slider",
      "settings": [ 
      {
        "type": "image_picker",
        "id": "image_insta",
        "label": "Instagaram Image"
      },
        {
            "type": "url",
            "id":"btn_url",
            "label": "Button url"
        }
      ]
    }
],
"presets": [
  {
    "name": "Instagaram",
   "category": "Index"
  }
]
}
{% endschema %}