{% if section.settings.enable_slider %}
<section class="banner-section">
    <div class="col-12 banner-slide p-0">
        {% for block in section.blocks %}
        <div class="banner-div">
            {% if block.settings.image %}
            <img class="banner-img desktop-img" src="{{ block.settings.image | img_url:'' }}"
                alt="Banner - {{ shop.name }}">
            {% endif %}
            {% if block.settings.mobile_banner_image == blank %}
            {% if block.settings.image %}
            <img class="banner-img" src="{{ block.settings.image | img_url:'' }}"
                alt="Banner - {{ shop.name }}">
            {% endif %}
            {% else %}
            {% if block.settings.mobile_banner_image %}
            <img class="banner-img mobile_img" src="{{ block.settings.mobile_banner_image | img_url:'' }}"
                alt="Banner - {{ shop.name }}">
            {% endif %}
            {% endif %}
            <div class="container banner-content">
                <div class="row align-items-end main-banner-row">
                  {% assign align = block.settings.txt_align %}
                  <div class="col-xl-12 text-center text-xl-{{align}} text-lg-{{align}} text-md-{{align}} text-sm-{{align}}">
                    <div class="banner-txt d-inline-block text-center">
                    {% if block.settings.title %}
                            <h2 class="text-uppercase font-weight-normal">{{ block.settings.title }}</h2>
                            {% endif %}
                            {% if block.settings.subtitle %}
                            <p class="font-weight-normal">{{ block.settings.subtitle }}</p>
                            {% endif %}
                            {% if block.settings.btn_txt != blank %}
                            <a class="btn-banner mt-2 m-auto"
                                href="{{ block.settings.btn_link }}">{{ block.settings.btn_txt }}</a>
                            {% endif %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Index Banner Section",
"class": "index-banner-section",
"settings": [
{
"type": "checkbox",
"id": "enable_slider",
"label": "Enable Banner Slider"
}
],
"blocks":[{
"type":"image",
"name": "Banner Slider",
"settings":[
{
"type": "image_picker",
"id": "image",
"label": "Slide image"
},
{
"type": "image_picker",
"id": "mobile_banner_image",
"label": "Mobile Slide image"
},
{
"type": "textarea",
"id": "title",
"label": "heading"
},
{
"type": "textarea",
"id": "subtitle",
"label": "Details"
},
{
"type": "text",
"id": "btn_txt",
"label": "Button Text"
},
{
"type": "url",
"id": "btn_link",
"label": "Button Link"
},
{
   "type":      "select",
   "id":        "txt_align",
   "label":     "Text Align",
   "options": [
     {
       "value": "left",
       "label": "Left"
     },
     {
       "value": "center",
       "label": "Center"
     },
     {
       "value": "right",
       "label": "Right"
     }
   ],
   "default":   "right",
   "info":      "Right"
}
]
}],
"presets": [
{
"name": "Index Banner",
"category": "Banner"
}
]
}
{% endschema %}