{% if section.settings.enable %}
    <section class="product-section">
        {% if section.settings.bg_image %}
            <img class="product-bg" src="{{ section.settings.bg_image | img_url: '1290x' }}" alt="{{ shop.name }}">
        {% endif %}
        <div class="container">
            <div class="col-12 text-center">
                {% if section.settings.title %}
                    <h3><span>{{ section.settings.title }}</span></h3>
                {% endif %}
                {% if section.settings.subtitle %}
                    <p class="title-tag-line mb-5">{{ section.settings.subtitle }}</p>
                {% endif %}
            </div>
            {% assign collection = collections[section.settings.collection] %}
            <div class="row in-pro-slider">
                {% for product in collection.products limit: 5 %}
                    {% assign proType = '' %}
                    {% for tag in product.tags %}
                        {% if tag contains 'type_' %}
                            {% assign proType = tag | replace: 'type_', ''%}
                        {% endif %}
                    {% endfor %}
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 m-auto text-center">
                        <div class="product-box">
                            <div class="product-img-box">
                                <a href="{{ product.url }}">
                                    <img src="{{ product.featured_image | img_url:'400x' }}" alt="{{ product.title }}"/>
                                </a>
                                 <div class="hover-div">
                                        <div class="hover-btn-div">
                                                <a class="outline-btn btn-quick_View" title="Quick View" data-des="{{ product.url }}" data-handle="{{ product.handle }}" data-toggle="modal" data-target="#exampleModal" ><i class="fa fa-eye"></i></a>
                                                <a class="outline-btn smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}" title="Add to Wishlist"></a>
                                                 <a class="outline-btn" href="#" title="Add to Cart">
                                            <form action="/cart/add" method="post" class="add-cart-form w-100 h-100" data-cart-submit="data-cart-submit" data-product-id="{{ current_variant.id }}">
                                                <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                                                <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
                                                <button class="rounded-circle w-100 h-100 border-0" type="submit" data-attr = "{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}"><i class="fa fa-shopping-bag"></i></button>
                                            </form>
                                        </a>
                                        </div>
                                </div> 
                            </div>
                            <div class="product-content">
                                <a href="{{ product.url }}" class="">
                                    <h6>{{ product.title }}</h6>
                                    {% include 'okendo-reviews-product-rating-summary' %}
                                    <p class="pro-price">{{ product.price |  money }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
            
{% include 'quikview' %}

{% schema %}
{
"name": "Featured collection",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable"
},
{
"type": "image_picker",
"id": "bg_image",
"label": "Background image"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Featured collection"
},
{
"type": "textarea",
"id": "subtitle",
"label": "SubTitle"
},
{
"id": "collection",
"type": "collection",
"label": "Collection"
}
],
"presets": [
{
"name": "Featured collection",
"category": "Collection"
}
]
}
{% endschema %}