{% if section.settings.enable_section_hot %}
<section class="hot-gal-tranding product-section">
    {% if section.settings.bg_image %}
    <img class="product-bg" src="{{ section.settings.bg_image | img_url:'1920x' }}" alt="{{ shop.name }}">
    {% endif %}
    <div class="container ">
        <div class="row ">
            {% if section.settings.hot_title %}
            <div class="col-12 text-center">
                <h3 class="text-uppercase mb-5">{{ section.settings.hot_title }}</h3>
            </div>
            {% endif %}
        </div>
        {% assign collection = collections[section.settings.collection] %}
        <div class="row in-pro-slider">
            {% for product in collection.products limit: 5 %}
            {% assign proType = '' %}
            {% for tag in product.tags %}
            {% if tag contains 'type_' %}
            {% assign proType = tag | replace: 'type_', ''%}
            {% endif %}
            {% endfor %}
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 m-auto text-center">
                <div class="product-box">
                    <div class="product-img-box">
                        <a href="{{ product.url | within: collection }}">
                            <img src="{{ product.featured_image | img_url:'400x' }}" alt="{{ product.title }}" />
                        </a>
                        <div class="hover-div">
                                    <div class="hover-btn-div">
                                            <a class="outline-btn btn-quick_View" title="Quick View" data-des="{{ product.url }}"  data-toggle="modal" data-target="#exampleModal" ><i class="fa fa-eye"></i></a>
                                            <a class="outline-btn smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}" title="Add to Wishlist"></a>
                                            <a class="outline-btn" title="Add to Cart">
                                            <form id="AddToCartForm-{{ product.variants.first.id }}" 
                                            action="/cart/add" 
                                            method="post"
                                            data-cart-submit="data-cart-submit"
                                            data-product-id="{{ current_variant.id }}"
                                            class="add-cart-form w-100 h-100">
                                                <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                                                <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
                                                <button class="rounded-circle w-100 h-100 border-0 add-cart" data-attr = "{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}" type="submit"><i class="fa fa-shopping-bag"></i></button>
                                            </form>
                                        </a>
                                    </div>
                                </div>
                    </div>
                    <div class="product-content">
                        <h5>{{ product.title }}</h5>
                        {% include 'okendo-reviews-product-rating-summary' %}
                        <p class="pro-price">{{ product.price |  money }}</p>   
                        {% comment %}
                        <p class="tag-coll text-uppercase">
                            {% if proType != blank %}{{ proType }}{% else %}{{ product.type }}{% endif %}</p>
                        
                        <p class="review-pro">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                        </p>
                        {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include 'quikview' %}
{% endif %}

{% schema %}
{
"name": "Hot Gal Section",
"settings": [
{
"type": "header",
"content":"HOT GAL SECTION"
},
{
"type": "checkbox",
"id":"enable_section_hot",
"label": "Enable Section?"
},
{
"type": "image_picker",
"id": "bg_image",
"label": "Background image"
},
{
"type": "textarea",
"id": "hot_title",
"label": "heading"
},
{
"id": "collection",
"type": "collection",
"label": "Collection"
}
],
"presets": [
{
"name": "Hot Gal Section",
"category": "index"
}
]
}
{% endschema %}