{% if section.settings.enable %}
<section class="formula-section">
    {% if section.settings.bg_image %}
    <img class="bg-img" src="{{ section.settings.bg_image | img_url:'1920x' }}" alt="{{ shop.name }}">
    {% endif %}
    <div class="container">
        {% if section.settings.title %}
        <div class="col-12 text-center">
            <h3 class="text-uppercase mb-5">{{ section.settings.title }}</h3>
        </div>
        {% endif %}
        <div class="row formula-slider">
            {% for block in section.blocks %}
            <div class="col-xl-12 col-lg-12 col-md-12 text-center">
                <div class="formula-box">
                    <div class="formula-img-box">
                        {% if block.settings.image %}
                        <img class="formula-icon" src="{{ block.settings.image | img_url:'original' }}"
                            alt="{{ block.settings.title }}">
                        {% endif %}
                    </div>
                    <div class="formula-content">
                        {% if block.settings.title %}<h5 class="text-uppercase mb-3 text-secondary">
                            {{ block.settings.title }}</h5>
                        {% endif %}
                        {% comment %}
                        {% if block.settings.subtitle %}<p>{{ block.settings.subtitle }}</p>{% endif %}
                        {% endcomment %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "Featured Content",
"class": "index-featured-section",
"settings": [
{
"type": "checkbox",
"id": "enable",
"label": "Enable"
},
{
"type": "image_picker",
"id": "bg_image",
"label": "Background image"
},
{
"type": "textarea",
"id": "title",
"label": "heading",
"default": "THE BEST MACKUP FORMULAS MADE FOR THE PARTY"
},
{
"type":"header",
"content":"Join Party Form"
},
{
"type":"text",
"id":"form_head",
"label":"Heading Form"
},
{
"type":"text",
"id":"form_subhead",
"label":"Sub Heading"
}
],
"blocks": [{
"type": "image",
"name": "Content Block",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Block image"
},
{
"type": "textarea",
"id": "title",
"label": "heading",
"default": "FORMULA OSWAL WEN"
},
{
"type": "textarea",
"id": "subtitle",
"label": "Details"
}
]
}],
"presets": [
{
"name": "Featured Content",
"category": "Image with text"
}
]
}
{% endschema %}