<section class="instagram-block py-5">
    <div class="container">
        <h3 class="text-center font-weight-normal">{{section.settings.instagram_label}}</h3>
        <div class="row" id="instafeed"
            data-access_Token="{{ section.settings.instagram_token }}" 
            data-User_Id="{{ section.settings.user_id }}" 
            data-limit="{{ section.settings.instagram_limit }}">    
        </div>
    </div>
</section>
{% schema %}
    {
        "name" : "Instagram",
        "settings" : [
            {
                "type" : "header",
                "content" : "layout"
            },
            {
                "type": "checkbox",
                "id": "instagram_enable",
                "label": "Show Instagram ?",
                "default": false
            },
            {
                "type" : "text",
                "label": "Instagram Label",
                "id" : "instagram_label",
                "default" : "FOLLOW @PUBLISH"
            },
            {
                "type" : "text",
                "label": "Instagram Token",
                "id" : "instagram_token"
            },
            {
                "type" : "text",
                "label": "Instagram User Id",
                "id" : "user_id"
            },
            {
                "type" : "text",
                "label": "Limit",
                "id" : "instagram_limit"
            }
        ],
        "presets" : [
            {
                "name"  : "Instagram Section",
                "category" : "homepage"
            }
        ]
    }
{% endschema %}