{% if section.settings.enable_section %}
<section class="media-section">
    <div class="col-12 banner-div align-items-center">
        {% if section.settings.banner_img %}
        <img class="bg-media" src="{{ section.settings.banner_img | img_url: 'original' }}" alt="{{ shop.name }}">
        {% endif %}
        {% if section.settings.title_page %}
        <div class="container">
            <div class="row banner-content">
                <div class="col-12 text-center">
                    <h2 class="">{{ section.settings.title_page }}</h2>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="container video-gallery">
        {% comment %}
        {% if section.settings.enable_gif_sec %}
        <div class="row img-gif">
            {% for block in section.blocks limit:4 %}
            {% if block.type == 'image' %}
            <div class="col-md-3 col-sm-6">
                <div class="gif-img-div">
                    <img src="{{ block.settings.gif_img | img_url:'original' }}" class="img-responsive center-block" />
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endcomment %}
        {% if section.settings.enable_video_sec %}
        <div class="row" style="margin-top: 20px;">
            {% for block in section.blocks %}
            {% if block.type == 'url' %}
            <div class="col-md-4 col-sm-6">
                <div class="video-box">
                    <iframe class="video-if" width="100%" height="315" src="{{ block.settings.video_link }}"
                        frameborder="0" allowfullscreen=""></iframe>
                    {% if block.settings.video_title %}
                    <h5 class="mt-3 mb-5 text-center">{{ block.settings.video_title }}</h5>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% schema %}
{
"name": "media section",
"settings": [
{
"type": "header",
"content": "Media Section"
},
{
"type": "checkbox",
"id": "enable_section",
"label": "Enable Section?"
},
{
"type":"image_picker",
"id":"banner_img",
"label": "Banner Image"
},
{
"type":"text",
"id":"title_page",
"label":"Title Text"
},
{
"type":"checkbox",
"id":"enable_gif_sec",
"label":"Enable Gif Section?"
},
{
"type":"checkbox",
"id":"enable_video_sec",
"label":"Enable video Section?"
}
],
"blocks":[{
"type": "image",
"name": "Gif image",
"settings": [
{
"type":"image_picker",
"id":"gif_img",
"label":"Gif Image"
}
]
},
{
"type": "url",
"name": "video link",
"settings": [
{
"type":"url",
"id":"video_link",
"label":"Video Link"
},
{
"type":"text",
"id":"video_title",
"label":"Video Title"
}
]
}
]
}
{% endschema %}