<div class="newsletter-sec">
  <div class="bg_image">
    <div class="container">
      <div class="heading" style="text-align:center;">
        <h3 class="nl_title newsletter-sec">{{section.settings.nl_title}}</h3>
        <p class="nl_dec newsletter-sec">{{section.settings.nl_dec}}</p>
      </div>
      <div>
        <div id="signup">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-11 m-auto">
              <!-- Begin Mailchimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup {
                  background: #fff;
                  clear: left;
                  font: 14px Helvetica, Arial, sans-serif;
                  color:black;
                }

                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
                
                  <form
                  action="{{section.settings.mailchimp_url}}"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank" novalidate>
                  <div class="d-flex justify-content-center">
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
                    </div>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                      name="b_fa2593e9a8d46478a3308076b_cacdc242fa" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="{{section.settings.btn_txt}}" name="subscribe" id="mc-embedded-subscribe"
                      class="button"></div>
                      </div>
                    <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                </form>
              </div>
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
              </script>
              <script type='text/javascript'>
                (function ($) {
                  window.fnames = new Array();
                  window.ftypes = new Array();
                  fnames[0] = 'EMAIL';
                  ftypes[0] = 'email';
                  fnames[1] = 'FNAME';
                  ftypes[1] = 'text';
                  fnames[2] = 'LNAME';
                  ftypes[2] = 'text';
                  fnames[3] = 'ADDRESS';
                  ftypes[3] = 'address';
                  fnames[4] = 'PHONE';
                  ftypes[4] = 'phone';
                  fnames[5] = 'BIRTHDAY';
                  ftypes[5] = 'birthday';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
              </script>
              <!--End mc_embed_signup-->
            </div>
          </div>

          {% comment %} <form method="post">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-11 m-auto">
                <div class="input-group  mb-3">
                  <input type="text" class="form-control" placeholder="E-Mail Address" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button type="submit" class="input-group-text"
                      id="basic-addon2">{{section.settings.btn_txt}}</button>
                  </div>
                </div>
              </div>
            </div>
          </form> {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  {% comment %} <div class="container">
    <div class="row pt-3">
      <div class="col-10 m-auto">
        <div class='mailmunch-forms-widget-848829'></div>
      </div>
    </div>
  </div> {% endcomment %}
</div>
{% schema %}
{
"name": "Newsletter Section",
"settings": [
{
"type": "image_picker",
"id": "bg_image",
"label": "Background Image"
},
{
"type": "text",
"id": "nl_title",
"label": "Newsletter Title"
},
{
"type": "textarea",
"id": "nl_dec",
"label": "Newsletter Dec"
},
{
"type": "text",
"id": "btn_txt",
"label": "Button Label"
},
{
"type": "textarea",
"id": "mailchimp_url",
"label": "MailChimp Url",
"default": "https://gmail.us4.list-manage.com/subscribe/post?u=fa2593e9a8d46478a3308076b&amp;id=cacdc242fa"
}
],
"presets": [
{
"name": "New_Newsletter",
"category": "Promotional"
}
]
}
{% endschema %}