<section class="product-info pt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="product-info py-3">
          <!-- <h4 class="text-uppercase">Description</h4> -->
          <p class="mb-0">{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "product Description",
"settings": [

]
}
{% endschema %}