<section class="product-detail-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="bredcume-ul list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/collections">Shop</a></li>
          <li><a href="#">{{ collection.title }}</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 mt-xl-0 mt-lg-0 mt-5 text-center order-2 order-xl-1 order-lg-1">
        <div class="sticky-pos">
          <div class="product-detail-content">
            <div class="product-head pb-3">
              <h4>{{ product.title }}</h4>
              <div class="price-text">
                <span class="price mr-4">{{ product.price | money }}</span>
                  <span class="review-pro">
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </span>
              </div>
              <div class="product-sort-discription mt-4">
                <p>{{product.description}}</p>
              </div>
            </div>
            {%- assign current_variant = product.selected_or_first_available_variant -%}
             <form id="AddToCartForm-{{ product.variants.first.id }}" 
              action="/cart/add" 
              method="post"
              data-cart-submit="data-cart-submit"
              data-product-id="{{ current_variant.id }}"
            >
              <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              <div class="product-qty py-2" data-qtyContainer>
                <div class="row pt-2">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="form-group mb-0 variant-col">
                          {% if product.options.first != 'Title' %}
                        <select class="form-control form_txt " name="id" id="product-select">
                          {% for variant in product.variants %}
                            <option class="bg-img" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}  value="{{ variant.id }}">{{ variant.title }}</option>
                          {% endfor %}
                        </select>
                     <ul id="product-select-new" tabindex="0">
                      {% for variant in product.variants %}
                            <li class="bg-img" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}  data-value="{{ variant.id }}">{{ variant.title }}</option>
                          <div class="bg-variant" data-img="{{variant.title}}"></div>
                          {% endfor %}
                    </ul>	 
                    <div class="lable-cls">
                      <i class="fa fa-angle-down"></i>
                      </div> 
                    {% endif %}
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="form-group d-flex mb-0">
                        <select class="form-control form_txt" id="Quantity" name="quantity">
                          {% for qnt in (1..10) %}
                            <option value="{{qnt}}">{{qnt}}</option>
                          {% endfor %}
                        </select>
                  </div>
                  <div class="lable-cls">
                  <label>qty</label>
                  <i class="fa fa-angle-down"></i>
                  </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="pro-add-btn">
                          <button class="banner-btn w-100 cart-add" type="submit" data-attr="{{ product.variants.first.id }}" data-cart-add="{{ current_variant.id }}" type="submit">Add To Cart</button>
                        <div id="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}"></div>
                        </div>
                    </div>
                     <div class="col-12 m-auto text-center">
                        <div class="social-links mt-4">
                          <!-- <p class="mb-3">Follow Us On:</p> -->
                          <ul class="mb-0 social-ul list-unstyled">
                            {% for block in section.blocks %}
                            {% if block.settings.link_name == 'youtube' %}
                              <li class="d-inline-block "><a href="{{ block.settings.link_url }}"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                              {% else %}  
                              <li class="d-inline-block pr-2"><a href="{{ block.settings.link_url }}"><i class="fa fa-{{block.settings.link_name}} fa-lg" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 order-3 order-xl-2 order-lg-2">
          <div class="row tab-lg">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-auto">
                  <div class="image-container mb-0 lg-show">
                        {% for image in product.images %}
                        <div class="text-center zoom" id="ex1">
                          <img class="m-auto img-fluid" src="{{ image.src | img_url:'original' }}" data-zoom="{{ image.src | img_url: '1024x1024', scale: 2 }}" alt="{{ product.title }}">
                        </div>
                        {% endfor %}
                    </div>
            </div>
          </div>
      </div>  
    <div class="col-12 order-xl-3 order-lg-3 order-1 product-slider md-slide">
              {% for image in product.images %}
                <img src="{{ image.src | img_url:'original' }}" alt="{{ product.title }}" class="img-fluid">
              {% endfor %}
    </div>
    </div>
      
    {% comment %} <div class="row lg-des">
      <div class="col-8 m-auto">
      <h3 class="text-center">Product Description</h3>
          <div class="tab-pane product__description">
            <p class="mb-0 text-center">{{ product.description }}</p>
        </div>
          <a href="#" class="read-more-btn">Read more</a>
      </div>
    </div> {% endcomment %}
  </div>
</section>
{% schema %}
{
"name": "Product pages",
"settings": [
  
],
"blocks": [
    {
      "type": "social",
      "name": "Url Content",
      "settings": [
        {
          "type": "text",
          "id":"link_name",
          "label": "Icon Title"
        },
        {
          "type": "url",
          "id":"link_url",
          "label": "URL"
        }
      ]
    }
]
}
{% endschema %}