<section class="related-product collection-shop-section product-section py-5">
{% assign number_of_related_products_to_show = 4 %}
{% assign heading = 'Related Products' %}
{% assign number_of_related_products_to_fetch = number_of_related_products_to_show | plus: 1 %}
 
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
	{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
		{% assign found_a_collection = true %}
		{% assign collection = c %}
	{% endif %}
{% endfor %}
{% endif %}
 
{% if collection and collection.products_count > 1 %}
	<br />
	<h3 class="text-center mb-5">{{ heading }}</h3>
    <div class="container">
	<div class="row">
	{% assign current_product = product %}
	{% assign current_product_found = false %}
		{% for product in collection.products limit: number_of_related_products_to_fetch %}
			{% if product.handle == current_product.handle %}
				{% assign current_product_found = true %}
			{% else %}
			{% unless current_product_found == false and forloop.last %}
			<div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 text-center">
                        <div class="product-box">
                            <div class="product-img-box">
                                <a href="{{ product.url | within: collection}}">
                                    <img src="{{ product.featured_image | img_url:'500x' }}" alt="{{ product.title }}">
                                </a>
                                <div class="hover-div">
                                    <div class="hover-btn-div">
                                           <a class="outline-btn btn-quick_View" title="Quick View" data-des="{{ product.url }}"  data-toggle="modal" data-target="#exampleModal" ><i class="fa fa-eye"></i></a>
                                            <a class="outline-btn smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}" title="Add to Wishlist"></a>
                                            <a class="outline-btn" title="Add to Cart">
                                            <form id="AddToCartForm-{{ product.variants.first.id }}" action="/cart/add" method="post" class="add-cart-form w-100 h-100">
                                                <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                                                <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
                                                <button class="rounded-circle w-100 h-100 border-0 add-cart" data-attr = "{{ product.variants.first.id }}" type="button"><i class="fa fa-shopping-bag"></i></button>
                                            </form>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <a href="{{ product.url | within: collection }}" class="">
                                        <h5>{{ product.title }}</h5>
                                {% include 'okendo-reviews-product-rating-summary' %}
                                <p class="pro-price">{{ product.price |  money }}</p>

                                </a>
                                {% comment %}
                                <p class="price-text mb-3">{{ product.price | money }}</p>
                                 <form action="/cart/add" method="post">
                                    <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                                    <input id="quantity" min="1" name="quantity" style="display:none" type="number" value="1"/>
                                    <button class="banner-btn btn-main btn-sm border-0 m-auto" type="submit">Add to cart</button>
                                </form> {% endcomment %}
                            </div>
                        </div>
                    </div>
      				{% comment %} 
	  				<div class="col-xl-3 col-lg-3 col-md-12 col-12 m-auto text-center">
						<div class="product-preview{% if settings.products_per_row == "4" %} large-3 columns{% endif %}{% if settings.products_per_row == "3" %} large-4 columns{% endif %}{% if settings.products_per_row == "2" %} large-6 columns{% endif %}">
		
							<div class="product-preview-image-div">
								{% if product.price_min < product.compare_at_price_min %}
									{% if settings.show_sale_circle %}
										<span class="sale-tag"></span>
									{% endif %}
								{% endif %}
								<a href= "{{ product.url | within: collection }}">
									<img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title | escape  }}" />
								</a>
							</div>
		
						<div class="panel preview-details">
							<a href="{{ product.url | within: collection }}" class="clearfix">

								<h5 class="title"><a href= "{{ product.url | within: collection }}">{{ product.title | truncate: 30 }}</a></h5>
								{% if settings.product_vendor %}
								<span class="vendor">{{ product.vendor }}</span>
								{% endif %}
			
								<span class="price">
								{% if product.available %}
									{% if product.compare_at_price_max > product.price %}
									<del><span class="sale-price">{{ product.compare_at_price | money }}</span></del>
									{% endif %}
									{% if product.price_varies %}
									<small><em>from</em></small>
									{% endif %}
									{{ product.price | money }}
								{% else %}
									{{ product.price | money }} <span class="sold-out">Sold Out</span>
								{% endif %}
								</span>
							</a>
						</div>
						</div>
        			</div>
					{% endcomment %}
			{% endunless %}
			{% endif %}
		{% endfor %}
	</div> 
  </div>
{% endif %}
{% include 'quikview' %}
</section>