.about-section {
    .page-content {
        padding: 15px 0;
        text-align: justify;
        p {
            line-height: 1.8;
            color: #717171;
            font-size: 14px;
        }
    }
    .image-video-wrapper {
        .image-wrapper {
            position: relative;
            overflow: hidden;
            min-height: 250px;
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                max-width: 100%;
                width: 100%;
                height: auto;
                -o-object-fit: cover;
                object-fit: cover;
                transition: 0.7s;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .about-section {
        .image-video-wrapper {
            .image-wrapper {
                min-height: 200px;
            }
        }
    }
}